<div class="breadcrumbs text-lg text-white bg-primary px-36 pt-5">
  <ul>
    <li><a routerLink="/analytics">Home</a></li>
    <li><a routerLink="/materials">Materials</a></li>
    <li><a routerLink="/subjects-add">Add subject</a></li>
  </ul>
</div>
<div class="flex flex-col lg:flex-row items-start justify-center w-full p-4 
            bg-primary">
  <div class="w-full lg:w-1/3 p-4 bg-white text-black rounded mb-12 
              slide-in-left lg:ml-10">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr class="text-primary text-center">
            <th>ID</th>
            <th>Subject</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let subject of subjects">
            <td>{{ subject.id }}</td>
            <td>{{ subject.subject_name }}</td>
            <td>
              <button 
                (click)="editSubject(subject.id)"
                class="bg-secondary text-black border-none shadow-none btn-sm 
                       rounded font-medium mr-1">
                Edit
              </button>
              <button 
                (click)="deleteSubject(subject.id)"
                class="bg-primary text-white border-none shadow-none btn-sm 
                       rounded font-medium">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider my-0"></div>
    <div class="flex justify-between items-center gap-5 slide-in-right">
      <span class="text-lg font-medium ml-3 text-black">
        Page {{ currentPage }} / {{ totalPages }}
      </span>
      <div class="flex gap-2">
        <button 
          (click)="previousPage()" 
          class="btn border-none bg-primary text-white hover:bg-primary-focus 
                 hover:bg-[#ffb700] hover:text-black rounded"
          [disabled]="currentPage === 1">
          Previous
        </button>
        <button 
          (click)="nextPage()" 
          class="btn border-none bg-primary text-white hover:bg-primary-focus 
                 hover:bg-[#ffb700] hover:text-black rounded"
          [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
  </div>
  
  <div class="w-full lg:w-1/3 flex flex-col items-center">
    <div class="bg-white p-6 lg:p-8 pb-0 rounded shadow-lg w-full lg:w-4/5 
                slide-in-right">
      <span class="text-start text-2xl font-normal text-black mb-3">
        Total Subjects:
      </span>
      <span class="text-primary text-2xl font-medium">{{ totalSubjects }}</span>
      <div class="divider my-0"></div>
      <p class="text-start text-2xl font-medium text-primary mb-3">
        Add new Subject:
      </p>
      <form #subjectForm="ngForm">
        <div class="w-full flex flex-col items-center justify-between gap-2">
          <div class="flex flex-col items-center justify-between mt-5">
            <img 
              src="../../../assets/read.svg"  
              alt="success" 
              class="w-60 h-32"/>
          </div>
          <input
            type="text"
            placeholder="Enter new subject"
            name="subject"
            [(ngModel)]="newSubjectName"
            required
            class="flex-grow w-full block rounded border 
              border-gray-300 px-6 py-2 focus:ring-opacity-50 
              text-lg"/>
          <div class="flex justify-center gap-2 w-full">
            <button
              type="button"
              (click)="cancelAddSubject()"
              class="w-1/2 bg-primary text-white px-4 py-3 rounded 
                     font-medium mb-2 lg:mb-0">
              Back
            </button>
            <button
              type="button"
              (click)="openConfirmModalAddSubject()"
              class="w-1/2 bg-secondary text-black px-4 py-3 rounded 
                     font-medium mb-2 lg:mb-0"
              [ngClass]="{
                'bg-secondary text-black hover:bg-[#801e1d] hover:text-white': isFormValid(),
                'bg-gray-300 text-gray-500 cursor-not-allowed': !isFormValid()
              }"
              [disabled]="!isFormValid()"
            >
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showModalAddSubject" 
     class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-2xl font-medium text-primary mb-3">
      Are you sure you want to add this subject?
    </h2>
    <div class="flex flex-col items-center justify-between mt-10">
      <div class="flex flex-col space-y-2 text-black">
        <div><strong>Subject Name:</strong> {{ newSubjectName }}</div>
      </div>
      <div class="flex flex-row gap-4 w-full mt-4">
        <button
          (click)="closeConfirmModalAddSubject()"
          class="flex-1 bg-primary text-white px-6 py-3 rounded font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300">
          Cancel
        </button>
        <button
          (click)="addSubject()"
          class="flex-1 bg-secondary text-black px-6 py-3 rounded font-medium 
                 hover:bg-[#801e1d] hover:text-white transition duration-300">
          Add Subject
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModalDelete" 
     class="fixed inset-0 flex items-center justify-center bg-gray-800 
            bg-opacity-50">
  <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-2xl font-medium text-primary mb-3">
      Are you sure you want to delete this subject?
    </h2>
    <div class="flex flex-col items-center justify-between mt-10">
      <div class="flex flex-col space-y-2 text-black">
        <div>
          <strong>Subject Name:</strong> {{ subjectToDelete?.subject_name }}
        </div>
        <div><strong>Subject ID:</strong> {{ subjectToDelete?.id }}</div>
      </div>
      <div class="flex flex-row gap-4 w-full mt-4">
        <button
          (click)="closeConfirmModal()"
          class="flex-1 bg-primary text-white px-6 py-3 rounded font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300">
          Cancel
        </button>
        <button
          (click)="confirmDeleteSubject()"
          class="flex-1 bg-secondary text-black px-6 py-3 rounded font-medium 
                 hover:bg-[#801e1d] hover:text-white transition duration-300">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<app-snackbar/>