<div class="flex flex-col w-full px-10 bg-primary justify-center items-center">
  <div class="flex flex-col md:flex-row w-full lg:w-[70%] pb-4 gap-2">
    <div class="flex flex-row flex-wrap w-full mt-1 justify-between gap-1">
      @if (currentLogType === 'faculty') {
        <div class="flex flex-row w-full md:w-1/2 gap-1 mt-1">
          <input 
            type="text" 
            placeholder="Search here" 
            class="input input-bordered w-1/2 rounded-xl text-lg font-medium 
                  slide-in-left bg-white"
            [(ngModel)]="searchTerm"
            (input)="onSearchChange($event.target.value)"
          />
          <button
            type="button"
            class="h-[3rem] bg-white text-primary rounded-xl px-4 font-medium 
                  hover:bg-[#ffb700] hover:text-black transition duration-300 
                  slide-in-right"
            (click)="clearLogType()">
            Clear
          </button>
          <button
            type="button"
            [ngClass]="{
              'bg-secondary text-black cursor-pointer': anySelected(),
              'bg-gray-400 text-gray-500 cursor-not-allowed': !anySelected()
            }"
            class="h-[3rem] w-auto rounded-xl px-4 font-medium slide-in-right"
            [disabled]="!anySelected() || isSending" 
            (click)="sendEmailsToSelectedFaculty()"
          >
            <ng-container *ngIf="!isSending">Send book request</ng-container>
          </button>
        </div>
      } @else {
        <div class="flex flex-row w-full md:w-1/2 gap-1 mt-1">
          <input 
          type="text" 
          placeholder="Search here" 
          class="input input-bordered w-full rounded-xl text-lg font-medium 
                 slide-in-left bg-white"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange($event.target.value)"/>
        
          <button
            type="button"
            class="h-[3rem] bg-white text-primary rounded-xl px-4 font-medium 
                  hover:bg-[#ffb700] hover:text-black transition duration-300 
                  slide-in-right"
                  (click)="clearLogType()">
            Clear
          </button>
        </div>
      }

      <div class="flex flex-wrap gap-1">
        <div class="relative mt-1">
          <select id="role" 
                  name="role" 
                  class="block appearance-none w-auto bg-secondary text-gray-700 
                  font-medium py-3 px-4 rounded-xl leading-tight focus:outline-none 
                  focus:bg-[#ffb700] cursor-pointer text-lg ml-1"
                  [(ngModel)]="selectedRole"
                  (change)="setLogType(selectedRole)"
                  required>
            <option value="" disabled selected>Select the Role</option>
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
            <option value="visitor">Visitor</option>
            <option value="pupt-employee">Employees</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 
                      flex items-center text-gray-700">
            <svg 
              class="fill-current h-10 w-10" 
              xmlns="http://www.w3.org/2000/svg" 
              viewBox="0 0 20 20">
              <path d="M14.35 8.35a.5.5 0 0 1 .7.7l-5 5a.5.5 0 0 1-.7 0l-5-5a.5.5 0 1 1 .7-.7L10 13.29l4.35-4.94z" />
            </svg>
          </div>
        </div>

      <div class="flex justify-between items-center gap-5 slide-in-right">
        <span class="text-lg font-medium ml-3 text-white">
          Page {{ currentPage }} / {{ totalPages }}
        </span>
        <div class="flex gap-2">
          <button
            class="btn border-none bg-secondary text-black hover:bg-primary-focus 
                   hover:bg-white hover:text-[#801e1d]"
            [disabled]="currentPage === 1"
            (click)="onPageChange(currentPage - 1)"
          >
            Previous
          </button>
          <button
            class="btn border-none bg-secondary text-black hover:bg-primary-focus 
                   hover:bg-white hover:text-[#801e1d]"
            [disabled]="currentPage === totalPages"
            (click)="onPageChange(currentPage + 1)"
          >
            Next
          </button>
          </div>
      </div>
      </div>

      </div>
    </div>
  
  @if (logs.length > 0) {
    <div class="p-4 bg-white text-black rounded-xl w-full lg:w-[70%] 
                slide-in-right mb-4">
      <div class="overflow-x-auto">
        <!-- <ng-container *ngIf="currentLogType === 'student'">
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Student Number</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Course</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">Email</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ record.student_number }}</td>
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.course }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.email.toLowerCase() }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="currentLogType === 'faculty'">
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">
                  <input 
                    type="checkbox" 
                    class="cursor-pointer"
                    [(ngModel)]="selectAllChecked" 
                    (change)="toggleAllSelection($event)" />
                </th>
                <th class="text-start">Faculty Code</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Department</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">Email</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>
                  <input 
                    type="checkbox" 
                    class="cursor-pointer"
                    [(ngModel)]="record.selected" 
                    (change)="checkIfAllSelected()" />
                </td>
                <td>{{ record.emp_number }}</td>
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.department }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.email.toLowerCase() }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="currentLogType === 'visitor'">
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">School</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.school }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="currentLogType === 'default'">
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Student Number</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Course</th>
                <th class="text-start">Phone Number</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ record.student_number }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.course }}</td>
                <td>{{ record.phone_number }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container> -->
        @if (currentLogType === 'student') {
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Student Number</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Course</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">Email</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ record.student_number }}</td>
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.course }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.email.toLowerCase() }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%" class="text-center">
                  <label for="itemsPerPage" 
                         class="text-primary text-lg font-medium mr-2">
                    Show items:
                  </label>
                  <select 
                    id="itemsPerPage" 
                    [(ngModel)]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event)" 
                    class="bg-secondary text-black border-none shadow-none btn-sm 
                           rounded-xl font-medium cursor-pointer">
                    <option 
                      *ngFor="let option of itemsPerPageOptions" 
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        } @else if (currentLogType === 'faculty') {
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">
                  <input 
                    type="checkbox" 
                    class="cursor-pointer"
                    [(ngModel)]="selectAllChecked" 
                    (change)="toggleAllSelection($event)" />
                </th>
                <th class="text-start">Faculty Code</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Department</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">Email</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>
                  <input 
                    type="checkbox" 
                    class="cursor-pointer"
                    [(ngModel)]="record.selected" 
                    (change)="checkIfAllSelected()" />
                </td>
                <td>{{ record.emp_number }}</td>
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.department }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.email.toLowerCase() }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%" class="text-center">
                  <label for="itemsPerPage" 
                         class="text-primary text-lg font-medium mr-2">
                    Show items:
                  </label>
                  <select 
                    id="itemsPerPage" 
                    [(ngModel)]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event)" 
                    class="bg-secondary text-black border-none shadow-none btn-sm 
                           rounded-xl font-medium cursor-pointer">
                    <option 
                      *ngFor="let option of itemsPerPageOptions" 
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        } @else if (currentLogType === 'visitor') {
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">School</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.school }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%" class="text-center">
                  <label for="itemsPerPage" 
                         class="text-primary text-lg font-medium mr-2">
                    Show items:
                  </label>
                  <select 
                    id="itemsPerPage" 
                    [(ngModel)]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event)" 
                    class="bg-secondary text-black border-none shadow-none btn-sm 
                           rounded-xl font-medium cursor-pointer">
                    <option 
                      *ngFor="let option of itemsPerPageOptions" 
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        } @else if (currentLogType === 'pupt-employee') {
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Employee number</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Phone Number</th>
                <th class="text-start">Email</th>
                <th class="text-start">Date of Registration</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ record.emp_num }}</td>
                <td>{{ capitalize(record.name) }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.phone_number }}</td>
                <td>{{ record.email.toLowerCase() }}</td>
                <td>{{ record.created_at | date:'MMMM d, y' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%" class="text-center">
                  <label for="itemsPerPage" 
                         class="text-primary text-lg font-medium mr-2">
                    Show items:
                  </label>
                  <select 
                    id="itemsPerPage" 
                    [(ngModel)]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event)" 
                    class="bg-secondary text-black border-none shadow-none btn-sm 
                           rounded-xl font-medium cursor-pointer">
                    <option 
                      *ngFor="let option of itemsPerPageOptions" 
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        } @else {
          <table class="table w-full">
            <thead class="text-sm" >
              <tr class="text-primary text-start">
                <th class="text-start">Student Number</th>
                <th class="text-start">Name</th>
                <th class="text-start">Gender</th>
                <th class="text-start">Course</th>
                <th class="text-start">Phone Number</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let record of logs">
                <td>{{ record.student_number }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.gender }}</td>
                <td>{{ record.course }}</td>
                <td>{{ record.phone_number }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%" class="text-center">
                  <label for="itemsPerPage" 
                         class="text-primary text-lg font-medium mr-2">
                    Show items:
                  </label>
                  <select 
                    id="itemsPerPage" 
                    [(ngModel)]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event)" 
                    class="bg-secondary text-black border-none shadow-none btn-sm 
                           rounded-xl font-medium cursor-pointer">
                    <option 
                      *ngFor="let option of itemsPerPageOptions" 
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        }
      </div>
    </div>
  } @else {
    <div class="flex justify-center items-center mt-20 slide-in-below">
      <div class="card bg-primary w-96">
        <figure class="px-10 pt-10">
          <img
            src="../../../assets/no-match1.svg"
            alt="no-match"
          />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title text-white">Nothing match your search!</h2>
          <p class="text-white">Didn't find what you're looking for?</p>
        </div>
      </div>
    </div>
  }
</div>

<div *ngIf="isSending" 
     class="fixed inset-0 flex items-center justify-center 
            bg-black bg-opacity-50 z-50">
  <div class="flex flex-col items-center">
    <img 
      src="../../../assets/spinning-dots.svg" 
      alt="Loading" 
      class="w-16 h-16 animate-spin" 
    />
    <p class="text-white text-lg mt-4">
      Sending request, please wait...
    </p>
  </div>
</div>

<app-snackbar/>