<div class="flex flex-col h-[86vh] w-11/12 mx-auto mt-14 justify-end">
    <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
      <div class="flex flex-row w-full">
        <input
          type="text"
          [placeholder]="searchPlaceholder"
          class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white"
        />
        <button class="btn rounded-r-full bg-white slide-in-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="black"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
      </div>
      <div class="flex flex-row gap-2 slide-in-right">
        <button
          type="button"
          (click)="setLogType('student')"
          [ngClass]="{
            'bg-blue-500 text-white': currentLogType === 'student',
            'bg-secondary text-black': currentLogType !== 'student'
          }"
          class="w-36 
            bg-secondary 
            text-black 
            px-4 
            py-3 
            rounded-full 
            font-medium 
            hover:bg-blue-500 
            hover:text-white 
            transition 
            duration-300 
            mt-0.5"
        >
          Student Log
        </button>
        <button
          type="button"
          (click)="setLogType('faculty')"
          [ngClass]="{
            'bg-blue-500 text-white': currentLogType === 'faculty',
            'bg-secondary text-black': currentLogType !== 'faculty'
          }"
          class="w-36 
            bg-secondary 
            text-black 
            px-4 
            py-3 
            rounded-full 
            font-medium 
            hover:bg-blue-500 
            hover:text-white 
            transition 
            duration-300 
            mt-0.5"
        >
          Faculty Log
        </button>
        <button
          type="button"
          (click)="setLogType('visitor')"
          [ngClass]="{
            'bg-blue-500 text-white': currentLogType === 'visitor',
            'bg-secondary text-black': currentLogType !== 'visitor'
          }"
          class="w-36 
            bg-secondary 
            text-black 
            px-4 
            py-3 
            rounded-full 
            font-medium 
            hover:bg-blue-500 
            hover:text-white 
            transition 
            duration-300 
            mt-0.5"
        >
          Visitor Log
        </button>
        <button
        type="button"
        (click)="setLogType('default')"
        class="w-20 
          bg-white 
          text-primary
          hover:bg-blue-500 
          hover:text-white 
          px-4 
          py-3 
          rounded-full 
          font-semibold
          transition 
          duration-300 
          mt-0.5"
      >
        clear
      </button>
      </div>
    </div>
    <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
      <div class="overflow-x-auto">
        @if (currentLogType === 'student') {
            <table class="table w-full">
                <thead>
                  <tr class="text-primary text-center">
                    <th>Student number</th>
                    <th>Name</th>
                    <th>Time in</th>
                    <th>Time out</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>2021-00000-TG-0</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                </tbody>
              </table>
        } @else if (currentLogType === 'faculty') {
            <table class="table w-full">
                <thead>
                  <tr class="text-primary text-center">
                    <th>Faculty code</th>
                    <th>Name</th>
                    <th>Time in</th>
                    <th>Time out</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>John, Doe</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                </tbody>
              </table>
        } @else if (currentLogType === 'visitor') {
            <table class="table w-full">
                <thead>
                  <tr class="text-primary text-center">
                    <th>Name</th>
                    <th>School</th>
                    <th>Time in</th>
                    <th>Time out</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                  <tr>
                    <td>John, Doe</td>
                    <td>TCU</td>
                    <td>09:30am</td>
                    <td>await</td>
                    <td>January 22, 2024</td>
                  </tr>
                </tbody>
              </table>
        } @else {
            <table class="table w-full">
                <thead>
                  <tr class="text-primary text-center">
                    <th>Student number</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Course</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                  <tr>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                    <td>sample testing</td>
                  </tr>
                </tbody>
              </table>
        }
      </div>
    </div>
  </div>
  
<!-- <div class="flex flex-col items-end justify-end min-h-screen w-full mx-44">
    <div class="flex w-full p-4 bg-primary rounded-t-xl mb-0 gap-2">
        <div class="flex flex-row w-full">
            <input type="text" placeholder="Search student" class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white" />
            <button class="btn rounded-r-full bg-white slide-in-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>              
            </button>
        </div>
        <div class="flex flex-row gap-2 slide-in-right">
            <button
            type="submit"
            class="w-40 
                   bg-secondary 
                   text-black 
                   px-4 
                   py-3 
                   rounded-full 
                   font-medium 
                   hover:bg-blue-500 
                   hover:text-white 
                   transition 
                   duration-300 
                   mt-0.5">
            Student Log
          </button>
          <button
          type="submit"
          class="w-40 
                 bg-secondary 
                 text-black 
                 px-4 
                 py-3 
                 rounded-full 
                 font-medium 
                 hover:bg-blue-500 
                 hover:text-white 
                 transition 
                 duration-300 
                 mt-0.5">
          Faculty Log
        </button>
          <button
          type="submit"
          class="w-40 
                 bg-secondary 
                 text-black 
                 px-4 
                 py-3 
                 rounded-full 
                 font-medium 
                 hover:bg-blue-500 
                 hover:text-white 
                 transition 
                 duration-300 
                 mt-0.5">
          Visitor Log
        </button>
        </div>
    </div>
    <div class="p-4 bg-white text-black rounded-xl w-full mb-10 slide-in-right">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr class="text-primary text-center">
                        <th>Student number</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody class="text-center">

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div> -->