<div class="flex flex-col h-[86vh] w-11/12 mx-auto mt-14 justify-end">
  <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
    <div class="flex flex-row w-full mt-0.5">
      <input
        type="text"
        [placeholder]="searchPlaceholder"
        class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white"
      />
      <button class="btn rounded-r-full bg-white slide-in-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="black"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
    </div>
    <div class="flex flex-row gap-2 slide-in-right">
      <div class="relative">
        <select id="role" 
                name="role" 
                class="block 
                appearance-none 
                w-auto 
                bg-secondary 
                text-gray-700 
                font-medium 
                py-3.5 
                px-4 
                mt-0.5
                rounded-full 
                leading-tight 
                focus:outline-none 
                focus:bg-[#ffb700] 
                cursor-pointer 
                text-lg"
                [(ngModel)]="selectedRole"
                required>
          <option value="" disabled selected>Select the Role</option>
          <option value="Student">Student</option>
          <option value="Faculty">Faculty</option>
          <option value="Visitor">Visitor</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-700">
          <svg class="fill-current h-10 w-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M14.35 8.35a.5.5 0 0 1 .7.7l-5 5a.5.5 0 0 1-.7 0l-5-5a.5.5 0 1 1 .7-.7L10 13.29l4.35-4.94z" />
          </svg>
        </div>
      </div>
      <button
        type="button"
        (click)="setLogType('student')"
        [ngClass]="{
          'bg-blue-500 text-white': currentLogType === 'student',
          'bg-secondary text-black': currentLogType !== 'student'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-blue-500 
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Student Log
      </button>
      <button
        type="button"
        (click)="setLogType('faculty')"
        [ngClass]="{
          'bg-blue-500 text-white': currentLogType === 'faculty',
          'bg-secondary text-black': currentLogType !== 'faculty'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-blue-500 
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Faculty Log
      </button>
      <button
        type="button"
        (click)="setLogType('visitor')"
        [ngClass]="{
          'bg-blue-500 text-white': currentLogType === 'visitor',
          'bg-secondary text-black': currentLogType !== 'visitor'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-blue-500 
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Visitor Log
      </button>
      <button
        type="button"
        (click)="setLogType('default')"
        class="w-20 
          bg-white 
          text-primary
          hover:bg-blue-500 
          hover:text-white 
          px-4 
          py-3 
          rounded-full 
          font-semibold
          transition 
          duration-300 
          mt-0.5"
      >
        clear
      </button>
    </div>
  </div>
  <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
    <div class="overflow-x-auto">
      <ng-container *ngIf="currentLogType === 'student'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Student number</th>
              <th>Name</th>
              <th>Time in</th>
              <th>Time out</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.student_number }}</td>
              <td>{{ log.name }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
              <td>{{ log.date }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="currentLogType === 'faculty'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Faculty code</th>
              <th>Name</th>
              <th>Time in</th>
              <th>Time out</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.faculty_code }}</td>
              <td>{{ log.name }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
              <td>{{ log.date }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="currentLogType === 'visitor'">
        <div class="text-center text-primary font-medium">
          Visitor log functionality is not yet available.
        </div>
        <!-- <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Name</th>
              <th>School</th>
              <th>Time in</th>
              <th>Time out</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.name }}</td>
              <td>{{ log.school }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
              <td>{{ log.date }}</td>
            </tr>
          </tbody>
        </table> -->
      </ng-container>
      <ng-container *ngIf="currentLogType === 'default'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Student number</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Course</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let record of logs">
              <td>{{ record.student_number }}</td>
              <td>{{ record.name }}</td>
              <td>{{ record.gender }}</td>
              <td>{{ record.course }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>