<div class="flex items-start justify-center pt-40 pb-[205px] bg-primary">
  <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 mb-20 h-full slide-in-right">
    <div class="flex items-end justify-between">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-3">
        Add a student
      </h1>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-4 mt-4 flex items-center space-x-4">
        <input
          id="studentNumber"
          name="studentNumber"
          type="text"
          [(ngModel)]="studentNumber"
          placeholder="Enter student number here"
          class="flex-grow 
                 mt-1 
                 block 
                 rounded-full 
                 border 
                 border-gray-300 
                 px-6 
                 py-2 
                 focus:ring-opacity-50 
                 text-lg"
          required
        />
        <div class="relative mr-44">
          <select
            id="sex"
            name="sex"
            [(ngModel)]="sex"
            class="block 
                   appearance-none 
                   w-full 
                   bg-secondary 
                   text-gray-700 
                   font-medium 
                   py-3 
                   px-6 
                   pr-8 
                   rounded-full 
                   leading-tight 
                   focus:outline-none 
                   focus:bg-[#ffb700] 
                   cursor-pointer 
                   text-lg"
            required
          >
            <option value="" disabled selected>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Prefer not to say">Prefer not to say</option>
          </select>
          <div
            class="pointer-events-none 
                   absolute 
                   inset-y-0 
                   top-0.5 
                   right-2 
                   flex 
                   items-center 
                   text-gray-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-1 flex items-center space-x-4">
        <input
          id="fname"
          name="fname"
          type="text"
          [(ngModel)]="firstName"
          class="w-2/5 
                 flex 
                 mt-1 
                 rounded-full 
                 border 
                 border-gray-300 
                 px-3 
                 pl-6 
                 py-2 
                 focus:ring-opacity-50 
                 text-lg"
          placeholder="First name"
          required
        />
        <input
          id="lname"
          name="lname"
          type="text"
          [(ngModel)]="lastName"
          class="w-2/5 
                 flex 
                 mt-1 
                 rounded-full 
                 border 
                 border-gray-300 
                 px-3 
                 pl-6 
                 py-2 
                 focus:ring-opacity-50 
                 text-lg"
          placeholder="Last name"
          required
        />
        <div class="relative mr-44">
          <select
            id="course"
            name="course"
            [(ngModel)]="courseId"
            class="block 
                   appearance-none 
                   w-full 
                   bg-secondary 
                   text-gray-700 
                   font-medium 
                   py-3 
                   px-6 
                   pr-8 
                   rounded-full 
                   leading-tight 
                   focus:outline-none 
                   focus:bg-[#ffb700] 
                   cursor-pointer 
                   text-lg"
            required
          >
            <option value="" disabled selected>Course</option>
            <option *ngFor="let course of courses" [value]="course.id">
              {{ course.course_abbreviation }}
            </option>
          </select>
          <div
            class="pointer-events-none 
                   absolute 
                   inset-y-0 
                   top-0.5 
                   right-2 
                   flex 
                   items-center 
                   text-gray-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-4 flex items-center space-x-4">
        <input
          id="contact"
          name="contact"
          type="number"
          [(ngModel)]="contact"
          class="flex-grow 
                 mt-1 block 
                 rounded-full 
                 border 
                 border-gray-300 
                 px-6 
                 py-2 
                 focus:ring-opacity-50 
                 text-lg"
          placeholder="Contact number"
          required
        />
      </div>
      <div class="flex flex-row gap-4 w-full mt-4">
        <button
          type="button"
          class="flex-1 
                 bg-primary 
                 text-white 
                 px-6 
                 py-3 
                 rounded-full 
                 font-medium 
                 hover:bg-[#ffb700] 
                 hover:text-black
                 transition 
                 duration-300"
          (click)="goBack()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="flex-1
                 bg-secondary 
                 text-black 
                 px-6 
                 py-3 
                 rounded-full 
                 font-medium 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 transition 
                 duration-300"
        >
          Enter
        </button>
      </div>
    </form>
  </div>
</div>