<div class="flex flex-col h-[86vh] w-11/12 mx-auto mt-14 justify-end">
    <div class="flex flex-col w-full">
        <div
          class="bg-white p-8 rounded-3xl shadow-lg w-full h-full mb-40 slide-in-right">
          <div class="flex items-end justify-between">
            <h1 class="text-2xl text-primary font-semibold ml-2 mb-5">
              Material details
            </h1>
          </div>
          <form>
            <div class="mb-4 mt-1 flex items-center space-x-4">
            <!-- Book title -->
              <input
                readonly
                id="title"
                name="title"
                type="text"
                class="w-1/2 
                       flex 
                       mt-1 
                       rounded-full 
                       border 
                       border-gray-300 
                       px-3 
                       pl-6 
                       py-2 
                       focus:ring-opacity-50 
                       text-lg"
                [(ngModel)]="material.title"
                placeholder="Title"/>
            <!-- Subject Heading -->
              <input
                readonly
                id="heading"
                name="heading"
                type="text"
                class="w-1/2 
                       flex 
                       mt-1 
                       rounded-full 
                       border 
                       border-gray-300 
                       px-3 
                       pl-6 
                       py-2 
                       focus:ring-opacity-50 
                       text-lg"
                [(ngModel)]="material.subj"
                placeholder="Subject Heading"/>
            </div>
            <div class="mb-4 mt-1 flex items-center space-x-4">
                <!-- Accession number -->
                  <input
                    readonly
                    id="accnum"
                    name="accnum"
                    type="text"
                    class="w-1/2 
                           flex 
                           mt-1 
                           rounded-full 
                           border 
                           border-gray-300 
                           px-3 
                           pl-6 
                           py-2 
                           focus:ring-opacity-50 
                           text-lg"
                    [(ngModel)]="material.accnum"
                    placeholder="Accession number"/>
                <!-- Category -->
                  <input
                    readonly
                    id="category"
                    name="category"
                    type="text"
                    class="w-1/2 
                           flex 
                           mt-1 
                           rounded-full 
                           border 
                           border-gray-300 
                           px-3 
                           pl-6 
                           py-2 
                           focus:ring-opacity-50 
                           text-lg"
                    [(ngModel)]="material.category"
                    placeholder="Category"/>
                </div>

                <div class="mb-4 mt-1 flex items-center space-x-4">
                    <!-- Author -->
                      <input
                        readonly
                        id="author"
                        name="author"
                        type="text"
                        class="w-1/2 
                               flex 
                               mt-1 
                               rounded-full 
                               border 
                               border-gray-300 
                               px-3 
                               pl-6 
                               py-2 
                               focus:ring-opacity-50 
                               text-lg"
                        [(ngModel)]="material.author"
                        placeholder="Author"/>
                    <!-- Call number -->
                      <input
                        readonly
                        id="callnum"
                        name="callnum"
                        type="text"
                        class="w-1/2 
                               flex 
                               mt-1 
                               rounded-full 
                               border 
                               border-gray-300 
                               px-3 
                               pl-6 
                               py-2 
                               focus:ring-opacity-50 
                               text-lg"
                        [(ngModel)]="material.callno"
                        placeholder="Call number"/>
                    </div>
            <div class="mb-4 mt-1 flex items-center space-x-4">
            <!-- Copyright -->
                <input
                  readonly
                  id="copyright"
                  name="copyright"
                  type="text"
                  class="w-1/2 
                         flex 
                         mt-1 
                         rounded-full 
                         border 
                         border-gray-300 
                         px-3 
                         pl-6 
                         py-2 
                         focus:ring-opacity-50 
                         text-lg"
                  [(ngModel)]="material.copyright"
                  placeholder="Copyright"/>
            <!-- Publisher -->
                <input
                  readonly
                  id="publisher"
                  name="publisher"
                  type="text"
                  class="w-1/2 
                         flex 
                         mt-1 
                         rounded-full 
                         border 
                         border-gray-300 
                         px-3 
                         pl-6 
                         py-2 
                         focus:ring-opacity-50 
                         text-lg"
                  [(ngModel)]="material.publisher"       
                  placeholder="Publisher"/>
              </div>
            <div class="mb-4 mt-1 flex items-center space-x-4">
            <!-- Edition -->
                <input
                  readonly
                  id="edition"
                  name="edition"
                  type="text"
                  class="w-1/2 
                         flex 
                         mt-1 
                         rounded-full 
                         border 
                         border-gray-300 
                         px-3 
                         pl-6 
                         py-2 
                         focus:ring-opacity-50 
                         text-lg"
                  [(ngModel)]="material.edition"             
                  placeholder="Edition"/>
            <!-- ISBN -->
                <input
                  readonly
                  id="isbn"
                  name="isbn"
                  type="text"
                  class="w-1/2 
                         flex 
                         mt-1 
                         rounded-full 
                         border 
                         border-gray-300 
                         px-3 
                         pl-6 
                         py-2 
                         focus:ring-opacity-50 
                         text-lg"
                  [(ngModel)]="material.isbn"
                  placeholder="ISBN"/>
              </div>
              <div class="mb-4 mt-1 flex items-center space-x-2">
                <!-- Status -->
                    <input
                      readonly
                      id="status"
                      name="status"
                      type="text"
                      class="w-1/2 
                             flex 
                             mt-1 
                             rounded-full 
                             border 
                             border-gray-300 
                             px-3 
                             pl-6 
                             py-2 
                             focus:ring-opacity-50 
                             text-lg"
                      [(ngModel)]="material.status"      
                      placeholder="Status"/>
                <!-- Back button -->
                <button
                    (click)="simulateBackButton()"
                    type="button"
                    class="w-1/5
                           bg-primary 
                           text-white 
                           px-4 
                           py-3 
                           rounded-full 
                           font-medium 
                           hover:bg-[#ffb700] 
                           hover:text-black 
                           transition 
                           duration-300 
                           mt-0.5">
                    Back
              </button>
                      <!-- Continue-button -->
                      <button
                      type="submit"
                      class="w-[30%] 
                             bg-secondary 
                             text-black 
                             px-4 
                             py-3 
                             rounded-full 
                             font-medium 
                             hover:bg-[#801e1d] 
                             hover:text-white 
                             transition 
                             duration-300 
                             mt-0.5">
                      Continue
                    </button>

                  </div>
          </form>
        </div>
    </div>

   </div>
     
   

   
