<div class="flex flex-col h-[86vh] w-11/12 mx-auto">
    <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
        <div class="flex flex-row w-full">
            <input type="text" placeholder="Search a book" 
                   class="input input-bordered w-full rounded-l-full text-lg 
                          font-medium text-primary slide-in-left bg-white"
                   [(ngModel)]="searchTerm"
                   (input)="onSearch()" 
            />
            <button class="btn rounded-r-full bg-white slide-in-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>              
            </button>
        </div>
        <div class="flex flex-row gap-2 slide-in-right">
            <button
                routerLink="/materials-add"
                type="submit"
                class="w-40 
                    bg-secondary 
                    text-black 
                    px-4 
                    py-3 
                    rounded-full 
                    font-medium 
                    hover:bg-blue-500 
                    hover:text-white 
                    transition 
                    duration-300 
                    mt-0.5">
                Add book
            </button>
            <button
                routerLink="/materials-type"
                type="submit"
                class="w-60 
                        bg-secondary 
                        text-black 
                        px-4 
                        py-3 
                        rounded-full 
                        font-medium 
                        hover:bg-blue-500 
                        hover:text-white 
                        transition 
                        duration-300 
                        mt-0.5"
            >
                Material type
            </button>
            <div class="flex flex-row gap-2 slide-in-right mt-0.5">
                <div class="dropdown dropdown-end slide-in-right">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn w-48 mb-1 mx-2 bg-secondary border-none text-black text-lg hover:bg-[#ffb700]"
                    >
                        {{ categoryPlaceholder }}
                    </div>
                    <ul
                        tabindex="0"
                        class="dropdown-content menu bg-secondary rounded-box z-[1] w-52 p-2 shadow text-lg font-medium text-black"
                    >
                        <li><a (click)="CategoryPlaceholder('Filipiñana')">Filipiñana</a></li>
                        <li><a (click)="CategoryPlaceholder('Circulation')">Circulation</a></li>
                        <li><a (click)="CategoryPlaceholder('Fiction')">Fiction</a></li>
                        <li><a (click)="CategoryPlaceholder('Reference')">Reference</a></li>
                        <li><a (click)="CategoryPlaceholder('Thesis/Dissertations')">Thesis/Dissertations</a></li>
                        <li><a (click)="CategoryPlaceholder('Feasibility')">Feasibility</a></li>
                        <li><a (click)="CategoryPlaceholder('Donations')">Donations</a></li>
                        <li><a (click)="CategoryPlaceholder('E-Book')">E-Book</a></li>
                        <li><a (click)="CategoryPlaceholder('PDF')">PDF</a></li>
                        <li><a (click)="CategoryPlaceholder('Business Plan')">Business Plan</a></li>
                        <li><a (click)="CategoryPlaceholder('Case Study')">Case Study</a></li>
                        <li><a (click)="CategoryPlaceholder('Training Manual')">Training Manual</a></li>
                        <li><a (click)="CategoryPlaceholder('OJT/Internship')">OJT/Internship</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr class="text-primary text-center">
                        <th>Status</th>
                        <th>Acc No.</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Subject</th>
                        <th>Copyright</th>
                        <th>Call number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-start">
                @for (material of materials; track $index) {
                    <tr>
                        <td>{{ material.status }}</td>
                        <td>{{ material.accnum }}</td>
                        <td>
                            <a [routerLink]="['/material-info', material.accnum]" 
                               class="text-primary font-semibold hover:text-[#ffb700] 
                                      hover:underline">
                                {{ material.title | slice:0:30 }}{{ material.title.length > 30 ? '...' : '' }}
                            </a>
                        </td>
                        <td>{{ material.author | slice:0:30 }}{{ material.author.length > 30 ? '...' : '' }}</td>
                        <td>{{ material.subj }}</td>
                        <td>{{ material.copyright }}</td>
                        <td>{{ material.callno | slice:0:8 }}{{ material.callno.length > 8 ? '...' : '' }}</td>
                        <td>
                            <button class="bg-secondary 
                                          text-black 
                                          border-none 
                                          shadow-none 
                                          btn-sm 
                                          rounded-full 
                                          font-medium
                                          mr-1"
                                    [routerLink]="['/materials-edit', material.accnum]">
                                Edit
                            </button>
                            <button class="bg-primary 
                                          text-white 
                                          border-none 
                                          shadow-none 
                                          btn-sm 
                                          rounded-full 
                                          font-medium"
                                    (click)="showConfirmModal(material.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
                    
                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center mt-4">
            <span class="text-lg font-medium ml-3">Page {{ currentPage }} / {{ totalPages }}</span>
            <div class="flex gap-2">
                <button
                    class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
                    [disabled]="currentPage === 1"
                    (click)="onPageChange(currentPage - 1)"
                >
                    Previous
                </button>
                <button
                    class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
                    [disabled]="currentPage === totalPages"
                    (click)="onPageChange(currentPage + 1)"
                >
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 max-w-md">
      <h2 class="text-center text-2xl font-medium text-primary mb-3">
        Do you want to delete this material?
      </h2>
      <div class="flex flex-col items-center justify-between h-full">
        <img src="../../../assets/return.jpg" alt="success" class="w-4/5 h-auto mb-4" />
        <div class="flex flex-row gap-4 w-full mt-4">
          <button
            (click)="closeConfirmModal()"
            class="flex-1
                   bg-primary 
                   text-white 
                   px-6 
                   py-3 
                   rounded-full 
                   font-medium 
                   hover:bg-[#ffb700] 
                   hover:text-black 
                   transition 
                   duration-300">
            Back
          </button>
          <button
            (click)="deleteMaterial()"
            class="flex-1
                   bg-secondary 
                   text-black 
                   px-6 
                   py-3 
                   rounded-full 
                   font-medium 
                   hover:bg-[#801e1d] 
                   hover:text-white 
                   transition 
                   duration-300">
            Delete Material
          </button>
        </div>
      </div>
    </div>
</div>

