<div class="navbar bg-white shadow-md p-0 h-24 sticky top-0 z-50 slide-in-top">
    <div class="flex ml-2 sm:ml-0 md:mx-auto slide-in-left">
      <img
        src="assets/pup.png"
        alt="Logo"
        class="m-1 md:m-0 md:ml-8 logo sm:size-20 size-10 cursor-pointer"
        routerLink="/analytics"/>
      <a
        class="text-2xl sm:text-3xl font-bold text-black md:mb-1 ml-3"
        routerLink="/analytics">
        Library Information System
      </a>
    </div>
    <div class="container flex justify-end items-center w-full mr-auto">
      <div class="flex">
        <div class="hidden md:flex space-x-0.5 slide-in-top">
          <div class="tooltip tooltip-bottom" data-tip="Borrow">
            <a
              routerLink="/borrow"
              routerLinkActive="active-link"
              class="btn btn-ghost rounded-none hover:bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
              </svg>              
            </a>
          </div>
          <div class="tooltip tooltip-bottom" data-tip="Return">
            <a
              routerLink="/return"
              routerLinkActive="active-link"
              class="btn btn-ghost rounded-none hover:bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0-3-3m3 3 3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
              </svg>              
            </a>
          </div>
          <div class="tooltip tooltip-bottom" data-tip="Materials">
            <a
              routerLink="/materials"
              routerLinkActive="active-link"
              class="btn btn-ghost rounded-none hover:bg-white mr-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
              </svg>                           
            </a>
          </div>
          <div class="tooltip tooltip-bottom" data-tip="Reports">
            <a
              routerLink="/reports"
              routerLinkActive="active-link"
              class="btn btn-ghost rounded-none hover:bg-white mr-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
              </svg>              
            </a>
          </div>
          <div class="tooltip tooltip-bottom" data-tip="Audit Trail">
            <a
              routerLink="/records"
              routerLinkActive="active-link"
              class="btn btn-ghost rounded-none hover:bg-white mr-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6" />
              </svg>              
            </a>
          </div>
        </div>
        <div class="flex slide-in-right">
          <div class="dropdown dropdown-end">
            <div class="mr-2.5 md:mr-10 md:ml-4">
              <div
                tabindex="0"
                role="button"
                class="btn btn-ghost avatar btn-circle border-gray-50 m-0">
                <div
                  class="relative w-10 h-10 overflow-hidden bg-gray-100 
                  rounded-full">
                  <svg
                    class="absolute w-12 h-12 text-gray-400 -left-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"/>
                  </svg>
                </div>
              </div>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content mt-3 z-20 p-2 shadow 
              bg-white rounded-box w-36">
              <li><a class="font-bold" routerLink="/analytics">Analytics</a></li>
              <li><a class="font-bold" routerLink="/profile">Profile</a></li>
              <li class="block md:hidden">
                <a class="font-bold" routerLink="/borrow">Borrow</a>
              </li>
              <li class="block md:hidden">
                <a class="font-bold" routerLink="/return">Return</a>
              </li>
              <li class="block md:hidden">
                <a class="font-bold" routerLink="/materials">Materials</a>
              </li>
              <li class="block md:hidden">
                <a class="font-bold" routerLink="/reports">Reports</a>
              </li>
              <li class="block md:hidden">
                <a class="font-bold" routerLink="/records">Audit Trail</a>
              </li>
              <li><a class="font-bold" (click)="onLogoutClick()">Logout</a></li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
  </div>
<router-outlet/>
