<div class="flex flex-col w-full px-16 pt-7 bg-primary justify-center items-center">
  <div class="flex flex-col w-full md:w-3/4">
    <div class="w-full">
      <div class="bg-primary mb-3 w-3/4 slide-in-right justify-between">
        <span class="text-white text-3xl ml-3">Edit Book:</span>
      </div>
    </div>
    <div class="bg-white p-8 rounded-xl shadow-lg w-full mb-40 slide-in-right">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-5">
        Material details
      </h1>
      <form (ngSubmit)="showConfirmModal()">
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Book title -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="title"
              name="title"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.title"
            />
            <label for="title" class="floating-label">Title</label>
          </div>
          <!-- Category -->
          <div class="w-1/2 flex mt-1">
            <input
              id="category"
              name="category"
              type="hidden"
              [(ngModel)]="material.category" />
            <div class="flex-1 relative">
              <div class="dropdown dropdown-end w-full">
                <div
                  tabindex="0" role="button"
                  class="btn w-full bg-secondary border-none text-black text-lg hover:bg-[#ffb700] rounded-box flex items-center justify-between"
                  (click)="toggleDropdown()">
                  <span>{{ selectedCategory?.mat_type || 'Select Category' }}</span>
                  <!-- Down Arrow Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </div>
                <ul tabindex="0" *ngIf="isDropdownOpen"
                    class="dropdown-content menu bg-secondary rounded-box z-[1] w-full p-2 shadow text-lg font-medium text-black">
                  <li *ngFor="let category of categories">
                    <a (click)="selectCategory(category.cat_id, category.mat_type)" 
                       class="block px-4 py-2 hover:bg-[#ffb700] hover:text-black">
                      {{ category.mat_type }}
                    </a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Accession number -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="accnum"
              name="accnum"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.accnum"
            />
            <label for="accnum" class="floating-label">Accession number</label>
          </div>


<!-- Subject Heading Dropdown -->
<div class="w-1/2 flex mt-1">
  <input id="heading" name="heading" type="hidden" [(ngModel)]="material.subj" #headingInput="ngModel" required />
  <div class="flex-1 relative">
    <div class="dropdown dropdown-bottom w-full">
      <div tabindex="0" role="button"
           class="btn w-full bg-secondary border-none text-black text-lg hover:bg-[#ffb700] rounded-box flex items-center justify-between"
           (click)="toggleSubjectDropdown()"
           (blur)="headingInput.control.markAsTouched()">
        <span>{{ selectedSubject?.subject_name || 'Select subject heading' }}</span>

        <!-- Exclamation icon shown if subject heading is invalid -->
        <span *ngIf="headingInput.invalid && headingInput.touched" class="flex items-center">
          <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4"/>
          <span class="tooltip" id="heading_tooltip">Please select a subject heading.</span>
        </span>
      </div>

      <!-- Dropdown with search input -->
      <div *ngIf="isSubjectDropdownOpen" class="dropdown-content menu bg-secondary rounded-box z-[1] w-full text-base font-medium text-black max-h-56 overflow-y-auto overflow-x-hidden block">
        <!-- Search input -->
        <input type="text" placeholder="Search subject..." class="input input-bordered w-full mb-2"
        name="subjectSearch" [(ngModel)]="subjectSearchTerm" (ngModelChange)="onSubjectSearch($event)" />

        <!-- Subject list -->
        <ul tabindex="0">
          <li *ngFor="let subject of filteredSubjects" class="w-full">
            <a (click)="selectSubjectHeading(subject.id, subject.subject_name)" class="block w-full px-4 py-2 hover:bg-[#801e1d] hover:text-white">
              {{ subject.subject_name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



        </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Author -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="author"
              name="author"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.author"
            />
            <label for="author" class="floating-label">Author</label>
          </div>
          <!-- Call number -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="callnum"
              name="callnum"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.callno"
            />
            <label for="callnum" class="floating-label">Call number</label>
          </div>
        </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Copyright -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="copyright"
              name="copyright"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.copyright"
            />
            <label for="copyright" class="floating-label">Copyright</label>
          </div>
          <!-- Publisher -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="publisher"
              name="publisher"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.publisher"
            />
            <label for="publisher" class="floating-label">Publisher</label>
          </div>
        </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Edition -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="edition"
              name="edition"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.edition"
            />
            <label for="edition" class="floating-label">Edition</label>
          </div>
          <!-- ISBN -->
          <div class="relative w-1/2">
            <input
              required
              placeholder=""
              id="isbn"
              name="isbn"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.isbn"
            />
            <label for="isbn" class="floating-label">ISBN</label>
          </div>
        </div>
        <div class="mb-4 mt-1 flex items-center space-x-3">
          <!-- Status -->
          <div class="relative w-1/2">
            <input
              required
              readonly
              placeholder=""
              id="status"
              name="status"
              type="text"
              class="floating-input w-full mt-1 rounded-xl border border-gray-300 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg"
              [(ngModel)]="material.status"
            />
            <label for="status" class="floating-label">Status</label>
          </div>
          <!-- Back button -->
          <button
            type="button"
            class="w-1/5
                   bg-primary 
                   text-white 
                   px-4 
                   py-4 
                   rounded-box 
                   font-medium 
                   hover:bg-[#ffb700] 
                   hover:text-black 
                   transition 
                   duration-300 
                   mt-0.5"
            (click)="goBack()">
            Back
          </button>
          <!-- Continue button -->
          <button
            type="submit"
            class="w-[29%] 
                   bg-secondary 
                   text-black 
                   px-4 
                   py-4 
                   rounded-box 
                   font-medium 
                   hover:bg-[#801e1d] 
                   hover:text-white 
                   transition 
                   duration-300 
                   mt-0.5">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-white p-8 rounded-xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-xl font-medium text-primary mb-6">
      Do you really want to save these changes?
    </h2>
    <div class="flex flex-col items-center">
      <button
        type="button"
        class="w-full bg-primary text-white px-6 py-3 rounded-box font-medium transition duration-300 mb-4"
        (click)="saveChanges()">
        Yes, Save changes
      </button>
      <button
        type="button"
        class="w-full bg-secondary text-black px-6 py-3 rounded-box font-medium hover:bg-[#ffb700] transition duration-300"
        (click)="closeConfirmModal()">
        No, Go back
      </button>
    </div>
  </div>
</div>
