

   <div class="flex flex-col items-end justify-end min-h-screen w-full mx-44">
    <div class="flex w-full p-4 bg-primary rounded-t-xl mb-0">
        <input type="text" placeholder="Search a book" class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left" />
        <button class="btn rounded-r-full bg-white slide-in-right">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>              
        </button>

        <div class="dropdown dropdown-right slide-in-right">
            <div tabindex="0" role="button" class="btn mb-1 mx-2 bg-secondary border-none text-lg hover:bg-[#ffb700]">Category</div>
            <ul tabindex="0" class="dropdown-content menu bg-secondary rounded-box z-[1] w-52 p-2 shadow text-lg font-medium">
                <li><a>Filipiñana</a></li>
                <li><a>Circulation</a></li>
                <li><a>Fiction</a></li>
                <li><a>Reference</a></li>
                <li><a>Thesis/Dissertations</a></li>
                <li><a>Feasibility</a></li>
                <li><a>Donations</a></li>
                <li><a>E-Book</a></li>
                <li><a>PDF</a></li>
                <li><a>Business Plan</a></li>
                <li><a>Case Study</a></li>
                <li><a>Training Manual</a></li>
                <li><a>OJT/Internship</a></li>
            </ul>
          </div>
    </div>
    <div class="p-4 bg-white text-black rounded-xl w-full mb-10 slide-in-right">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr class="text-primary">
                        <th>Accession No.</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Subject</th>
                        <th>Copyright</th>
                        <th>Call number</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>

                    <tr>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                        <td>sample testing</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
