/* your-component.css or global styles.css */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full viewport height */
  }
  
  img {
    object-fit: cover;
  }
  