<div class="flex items-center justify-center min-h-screen w-full">
    <div class="flex flex-row w-full">
        <div class="p-4 bg-white text-black rounded-3xl w-96 mb-12 slide-in-left ml-10">
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr class="text-primary text-center">
                            <th>Material Types (13)</th>
                            <th>Accession No. Template</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Filipiñana</td>
                            <td>PUPT Fili</td>
                        </tr>
                        <tr>
                            <td>Circulation</td>
                            <td>PUPT Circ</td>
                        </tr>
                        <tr>
                            <td>Fiction</td>
                            <td>PUPT Fic</td>
                        </tr>
                        <tr>
                            <td>Reference</td>
                            <td>PUPT Ref</td>
                        </tr>
                        <tr>
                            <td>Thesis/Dissertations</td>
                            <td>PUPT TH/D</td>
                        </tr>
                        <tr>
                            <td>Feasibility</td>
                            <td>PUPT Feas</td>
                        </tr>
                        <tr>
                            <td>Donation</td>
                            <td>PUPT Don</td>
                        </tr>
                        <tr>
                            <td>E-Book</td>
                            <td>PUPT EB</td>
                        </tr>
                        <tr>
                            <td>PDF</td>
                            <td>PUPT pdf</td>
                        </tr>
                        <tr>
                            <td>Business Plan</td>
                            <td>PUPTBP</td>
                        </tr>
                        <tr>
                            <td>Case Study</td>
                            <td>PUPTCS</td>
                        </tr>
                        <tr>
                            <td>Training Manual</td>
                            <td>PUPTTM</td>
                        </tr>
                        <tr>
                            <td>OJT/Internship</td>
                            <td>PUPTOJT/I</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <div class=" bg-white p-8 pb-0 rounded-3xl shadow-lg ml-20 w-1/2 h-3/5 slide-in-right">
                <span class="text-center text-2xl font-normal text-black mb-3">
                  Total library materials count:
                </span>
                <span class="text-primary text-2xl font-medium">7277</span>
                <form>
                  <div class="flex flex-col items-center justify-between">
                  <img src="../../../assets/hello.png" alt="success" class="w-96 h-72" />
                  <div class="flex flex-row gap-2 w-full">
                      <button
                      type="submit"
                      class="w-1/2 
                             bg-primary 
                             text-white 
                             px-4 
                             py-3 
                             rounded-full 
                             font-medium 
                             hover:bg-[#ffb700] 
                             hover:text-black 
                             transition 
                             duration-300 "
                      routerLink="/materials">
                      Back
                    </button>
                    <button
                    type="submit"
                    class="w-1/2 
                           bg-secondary 
                           text-black 
                           px-4 
                           py-3 
                           rounded-full
                           font-medium 
                           hover:bg-[#801e1d] 
                           hover:text-white 
                           transition 
                           duration-300"
                    routerLink="/add-type">
                    Add material type
                  </button>
                  </div>
                  </div>
                </form>
              </div>
              <div class="flex items-center justify-center ml-20 mt-5 w-3/5 h-1/3 slide-in-below">
                  <img src="../../../assets/books.png" alt="books" class="w-96 h-72">
              </div>
        </div>
    </div>
</div>
