<div class="flex flex-col items-center justify-center min-h-screen bg-white p-4 w-1/4">
  <img src="assets/pup.png" alt="" class="size-20">
  <b class="text-3xl font-bold mb-2 text-black">Library Information System</b>
  <h2 class="text-2xl text-center my-8">Welcome!</h2>
  <div class="flex flex-col space-y-6">
    <button routerLink="/administrator" class="btn btn-warning w-52">Administrator</button>
    <button class="btn btn-warning w-52">Time in</button>
    <button class="btn btn-warning w-52">Time out</button>
    <button class="btn btn-warning w-52">Search a book</button>
    <button class="btn btn-warning w-52">Library Services</button>
  </div>
</div>
