<div
  class="flex 
         flex-col 
         items-center 
         justify-center 
         min-h-screen 
         bg-white 
         p-4">
  <img
    src="assets/pup.png"
    alt=""
    class="size-44 mb-4 slide-in-right cursor-pointer"
    routerLink="/landing"/>

  <div class="flex items-center justify-center w-4/5">
    <span class="text-4xl font-semibold text-black text-center mb-4"
      >Library Information System</span>
  </div>

  <span class="text-3xl 
               text-center 
               mt-10 
               text-primary 
               font-semibold 
               slide-in-below">Welcome!
  </span>
  <div class="divider mt-0 mb-10 w-[30%] mx-auto"></div>

  <div class="flex flex-col space-y-6 slide-in-left">

    <button
      routerLink="/administrator"
      routerLinkActive="active-btn"
      class="btn 
             bg-secondary 
             hover:bg-[#801e1d] 
             hover:text-white 
             text-lg 
             rounded-full 
             w-56 
             h-14
             border-none
             text-black">
      Administrator
    </button>

    <button
      routerLink="/time-in"
      routerLinkActive="active-btn"
      class="btn 
             bg-secondary 
             hover:bg-[#801e1d] 
             hover:text-white 
             text-lg 
             rounded-full 
             w-56 
             h-14
             border-none
             text-black">
      Time in
    </button>

    <button
      routerLink="/time-out"
      routerLinkActive="active-btn"
      class="btn 
             bg-secondary 
             hover:bg-[#801e1d] 
             hover:text-white 
             text-lg 
             rounded-full 
             w-56 
             h-14
             border-none
             text-black">
      Time out
    </button>

    <button
      routerLink="/search"
      routerLinkActive="active-btn"
      class="btn 
             bg-secondary 
             hover:bg-[#801e1d] 
             hover:text-white 
             text-lg 
             rounded-full 
             w-56 
             h-14
             border-none
             text-black">
      Search a book
    </button>

    <button
      routerLink="/services"
      routerLinkActive="active-btn"
      class="btn 
             bg-secondary 
             hover:bg-[#801e1d] 
             hover:text-white 
             text-lg 
             rounded-full 
             w-56 
             h-14
             border-none
             text-black">
      Library Services
    </button>

  </div>
</div>
