<div class="breadcrumbs text-lg text-white bg-primary px-36 pt-5">
  <ul>
    <li><a routerLink="/analytics">Home</a></li>
    <li><a routerLink="/materials">Materials</a></li>
    <li><a routerLink="/materials-add">Add material</a></li>
  </ul>
</div>
<div class="flex flex-col w-full px-1 md:px-14 pt-10 bg-primary justify-center 
            items-center">
  <div class="flex flex-col w-full lg:w-1/2">
    <div class="w-full">
      <div class="bg-primary mb-3 w-full slide-in-right flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
        stroke-width="1.5" stroke="white" class="size-8 cursor-pointer" 
        (click)="goBack()">
          <path stroke-linecap="round" 
          stroke-linejoin="round" 
          d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>        
        <span class="text-white text-2xl ml-1.5 cursor-pointer"
        (click)="goBack()">Go back</span>
      </div>
    </div>
    <div class="bg-white p-8 rounded shadow-lg w-full h-full slide-in-right">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-5">
        Material details
      </h1>
      <form #bookForm="ngForm">
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <div class="relative w-1/2">
            <input
              id="title"
              name="title"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                     pl-6 py-2 text-lg focus:ring-opacity-50 pr-10"
              placeholder="Title"
              [(ngModel)]="bookDetails.title"
              #titleInput="ngModel"
              (blur)="titleInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  titleInput.invalid && titleInput.touched
              }"
              required
            />
            
            <span
              *ngIf="titleInput.invalid && titleInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Title cannot be empty.</span>
            </span>
          </div>
        
          <div class="w-1/2 flex mt-1">
            <input 
              id="category" 
              name="category" 
              type="hidden" 
              [(ngModel)]="bookDetails.category" 
              #categoryInput="ngModel" 
              required 
            />
            <div class="flex-1 relative">
              <div class="dropdown dropdown-bottom w-full">
                <div tabindex="0" 
                     role="button"
                     class="btn w-full bg-secondary border-none text-black 
                            text-lg hover:bg-[#ffb700] rounded 
                            flex items-center justify-between"
                     (click)="toggleDropdown()"
                     (blur)="categoryInput.control.markAsTouched()">
                  <span>
                    {{ 
                      selectedCategory?.mat_type || 'Select Category' 
                    }}
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
                  viewBox="0 0 24 24" 
                  stroke-width="2" 
                  stroke="currentColor" 
                  class="size-6 mt-0.5">
                    <path stroke-linecap="round" 
                          stroke-linejoin="round" 
                          d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  
                  <span
                    *ngIf="categoryInput.invalid && categoryInput.touched"
                    class="flex items-center"
                  >
                    <img 
                      src="../../../assets/Exclamation_flat_icon.svg.png" 
                      alt="Exclamation Mark" 
                      class="h-4 w-4"
                    />
                    <span class="tooltip" id="category_tooltip">
                      Please select a category.
                    </span>
                  </span>
                </div>
                
                <ul tabindex="0" 
                    *ngIf="isDropdownOpen"
                    class="dropdown-content menu bg-secondary rounded z-[1] 
                           w-full text-base font-medium text-black max-h-60 
                           overflow-y-auto overflow-x-hidden block">
                  <li *ngFor="let category of categories">
                    <a (click)="selectCategory(category.cat_id, category.mat_type)" 
                       class="block w-full px-4 py-2 hover:bg-[#801e1d] 
                              hover:text-white">
                      {{ category.mat_type }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <div class="relative w-1/2">
            <input
              id="author"
              name="author"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                     pl-6 py-2 text-lg focus:ring-opacity-50 pr-10"
              placeholder="Author"
              [(ngModel)]="bookDetails.author" 
              #authorInput="ngModel"
              (blur)="authorInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  authorInput.invalid && authorInput.touched
              }"
              required 
            />
            <span
                *ngIf="authorInput.invalid && authorInput.touched"
                class="absolute inset-y-0 right-3 flex items-center 
                       cursor-pointer"
                (mouseenter)="showTooltip = true"
                (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Author cannot be empty.</span>
            </span>
          </div>

          <div class="w-1/2 flex mt-1">
            <input 
              id="heading" 
              name="heading" 
              type="hidden" 
              [(ngModel)]="bookDetails.heading" 
              #headingInput="ngModel" 
              required 
            />
            <div class="flex-1 relative">
              <div class="dropdown dropdown-bottom w-full">
                <div tabindex="0" 
                    role="button"
                    class="btn w-full bg-secondary border-none text-black text-lg 
                            hover:bg-[#ffb700] rounded flex items-center 
                            justify-between"
                    (click)="toggleSubjectDropdown()"
                    (blur)="headingInput.control.markAsTouched()">
                  <span>
                    {{ selectedSubject?.subject_name || 'Select Subject' }}
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
                  viewBox="0 0 24 24" 
                  stroke-width="2" 
                  stroke="currentColor" 
                  class="size-6 mt-0.5">
                    <path stroke-linecap="round" 
                          stroke-linejoin="round" 
                          d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>

                  <span *ngIf="headingInput.invalid && headingInput.touched" 
                        class="flex items-center">
                    <img 
                      src="../../../assets/Exclamation_flat_icon.svg.png" 
                      alt="Exclamation Mark" 
                      class="h-4 w-4"
                    />
                    <span class="tooltip" id="heading_tooltip">
                      Please select a subject heading.
                    </span>
                  </span>
                </div>

                <div *ngIf="isSubjectDropdownOpen" 
                    class="dropdown-content menu bg-secondary rounded z-[1] 
                            w-full text-base font-medium text-black max-h-56 
                            overflow-y-auto overflow-x-hidden block">
                  <input 
                    type="text" 
                    placeholder="Search subject..." 
                    class="input input-bordered w-full mb-2"
                    name="subjectSearch"
                    [(ngModel)]="subjectSearchTerm" 
                    (ngModelChange)="onSubjectSearch($event)" 
                  />

                  <ul tabindex="0">
                    <li *ngFor="let subject of dropdownSubjects" class="w-full">
                      <a (click)="selectSubjectHeading(subject.id, subject.subject_name)" 
                        class="block w-full px-4 py-2">
                        {{ subject.subject_name }} 

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>           
        </div>

        <div class="mb-4 mt-1 flex items-center space-x-4">
          <div class="relative w-1/2">
            <input
              id="copyright"
              name="copyright"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                    pl-6 py-2 focus:ring-opacity-50 text-lg"
              placeholder="Copyright"
              [(ngModel)]="bookDetails.copyright" 
              #copyrightInput="ngModel"
              (blur)="copyrightInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  copyrightInput.invalid && copyrightInput.touched
                }"
              required 
            />
              
            <span
              *ngIf="copyrightInput.invalid && copyrightInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Copyright cannot be empty.</span>
            </span>
          </div>
          
          <div class="relative w-1/2">
            <input
              id="callnum"
              name="callnum"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                      pl-6 py-2 focus:ring-opacity-50 text-lg"
              placeholder="Call number"
              [(ngModel)]="bookDetails.callnum" 
              #callnumInput="ngModel"
              (blur)="callnumInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  callnumInput.invalid && callnumInput.touched
              }"
              required 
            />
            <span
              *ngIf="callnumInput.invalid && callnumInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Call number cannot be empty.</span>
            </span>
          </div>
        </div>
        
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <div class="relative w-1/2">
            <input
              id="edition"
              name="edition"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                     pl-6 py-2 focus:ring-opacity-50 text-lg"
              placeholder="Edition"
              [(ngModel)]="bookDetails.edition"
              #editionInput="ngModel"
              (blur)="editionInput.control.markAsTouched()"
              [ngClass]="{'border-red-500 focus:border-red-500': 
                  editionInput.invalid && editionInput.touched}"
              required 
            />
            <span
              *ngIf="editionInput.invalid && editionInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Edition cannot be empty.</span>
            </span>
          </div>
          <div class="relative w-1/2">
            <input
              id="publisher"
              name="publisher"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                    pl-6 py-2 focus:ring-opacity-50 text-lg"
              placeholder="Publisher"
              [(ngModel)]="bookDetails.publisher"
              #publisherInput="ngModel"
              (blur)="publisherInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  publisherInput.invalid && publisherInput.touched
              }"
              required 
            />
            <span
              *ngIf="publisherInput.invalid && publisherInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">Publisher cannot be empty.</span>
            </span>
          </div>
        </div>

        <div class="mb-4 mt-1 flex items-center space-x-4">
          <div class="relative w-1/2">
            <input
              id="isbn"
              name="isbn"
              type="text"
              class="w-full flex mt-1 rounded border border-gray-300 px-3 
                     pl-6 py-2 focus:ring-opacity-50 text-lg"
              placeholder="ISBN"
              [(ngModel)]="bookDetails.isbn"
              #isbnInput="ngModel"
              (blur)="isbnInput.control.markAsTouched()"
              [ngClass]="{
                'border-red-500 focus:border-red-500': 
                  isbnInput.invalid && isbnInput.touched
              }"
              required 
            />
          
            <span
              *ngIf="isbnInput.invalid && isbnInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img 
                src="../../../assets/Exclamation_flat_icon.svg.png" 
                alt="Exclamation Mark" 
                class="h-4 w-4 mt-1"
              />
              <span class="tooltip">ISBN cannot be empty.</span>
            </span>
          </div>
        
          <!-- <button
            type="button"
            class="w-1/4 bg-primary text-white px-4 py-3 rounded font-medium 
                   hover:bg-[#ffb700] hover:text-black transition duration-300 
                   mt-0.5"
            (click)="goBack()"
          >
            Back
          </button> -->
          <button
            type="button"
            (click)="openConfirmModal()"
            class="w-1/2 bg-green-600 text-white px-4 py-3 rounded 
                   font-medium hover:bg-green-500 hover:text-white transition 
                   duration-300 mt-0.5"
          >
            Continue
          </button>
        </div>
      </form>
      @if (continueButtonClicked && bookForm.invalid) {
        <div class="bttm_err_msg">There are missing details on the form.</div> 
      }
    </div>
  </div>
</div>

<div *ngIf="showModal" 
     class="fixed inset-0 flex items-center justify-center bg-gray-800 
            bg-opacity-50">
  <div class="bg-white p-8 rounded shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-xl font-medium text-primary mb-3">
      Do you really want to add this material?
    </h2>
    <div class="flex flex-col items-center justify-between h-full">
      <img 
        src="../../../assets/return.jpg" 
        alt="success" 
        class="w-4/5 h-auto mb-4" 
      />
      <div class="flex flex-row gap-4 w-full">
        <button
          (click)="closeConfirmModal()"
          class="flex-1 bg-primary text-white px-6 py-3 rounded font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300"
        >
          Back
        </button>
        <button
        (click)="saveBook()"
        [disabled]="isSubmitting"
          class="flex-1 bg-secondary text-black px-6 py-3 rounded font-medium 
                 hover:bg-[#801e1d] hover:text-white transition duration-300"
          [ngClass]="{ 'opacity-50 cursor-not-allowed': isSubmitting }"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex flex-col lg:flex-row items-start justify-center w-full p-4 
            bg-primary">
  <div class="w-full lg:w-1/3 p-4 bg-white text-black rounded mb-12 
              slide-in-left lg:ml-10">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr class="text-primary text-center">
            <th>ID</th>
            <th>Subject</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let subject of subjects">
            <td>{{ subject.id }}</td>
            <td>{{ subject.subject_name }}</td>
            <td>
              <button 
                (click)="editSubject(subject.id)"
                class="bg-secondary text-black border-none shadow-none btn-sm 
                       rounded-full font-medium mr-1"
              >
                Edit
              </button>
              <button 
                (click)="deleteSubject(subject.id)"
                class="bg-primary text-white border-none shadow-none btn-sm 
                       rounded-full font-medium"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider my-0"></div>
    <div class="flex justify-between items-center gap-5 slide-in-right">
      <span class="text-lg font-medium ml-3 text-black">
        Page {{ currentPage }} / {{ totalPages }}
      </span>
      <div class="flex gap-2">
        <button (click)="previousPage()" 
          class="btn border-none bg-primary text-white hover:bg-primary-focus 
                 hover:bg-[#ffb700] hover:text-black"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>
        <button (click)="nextPage()" 
          class="btn border-none bg-primary text-white hover:bg-primary-focus 
                 hover:bg-[#ffb700] hover:text-black"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
      </div>
    </div>
  </div>
  
  <div class="w-full lg:w-1/3 flex flex-col items-center">
    <div class="bg-white p-6 lg:p-8 pb-0 rounded shadow-lg w-full lg:w-4/5 
                slide-in-right">
      <span class="text-start text-2xl font-normal text-black mb-3">
        Total Subjects:
      </span>
      <span class="text-primary text-2xl font-medium">{{totalSubjects}}</span>
      <div class="divider my-0"></div>
      <p class="text-start text-2xl font-medium text-primary mb-3">
        Add Subject:
      </p>
      <form #subjectForm="ngForm">
        <div class="flex flex-col items-center justify-between gap-2">
          <input
            type="text"
            placeholder="Enter new subject"
            name="subject"
            [(ngModel)]="newSubjectName"
            required
            class="w-full px-6 py-4 rounded bg-[#e0e0e0] text-gray-700 
                   focus:ring-opacity-50"
          />
          <div class="flex justify-end w-full">
            <button
              type="button"
              (click)="addSubject()"
              class="w-auto bg-secondary text-black px-4 py-3 rounded 
                     font-medium hover:bg-[#801e1d] hover:text-white transition 
                     duration-300 mb-2 lg:mb-0"
            >
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

<div *ngIf="showModalDelete" 
     class="fixed inset-0 flex items-center justify-center bg-gray-800 
            bg-opacity-50">
  <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-2xl font-medium text-primary mb-3">
      Are you sure you want to delete this subject?
    </h2>
    <div class="flex flex-col items-center justify-between mt-10">
      <div class="flex flex-col space-y-2 text-black">
        <div>
          <strong>Subject Name:</strong> {{ subjectToDelete?.subject_name }}
        </div>
        <div><strong>Subject ID:</strong> {{ subjectToDelete?.id }}</div>
      </div>
      <div class="flex flex-row gap-4 w-full mt-4">
        <button
          (click)="closeConfirmModal()"
          class="flex-1 bg-primary text-white px-6 py-3 rounded font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300"
        >
          Cancel
        </button>
        <button
          (click)="confirmDeleteSubject()"
          class="flex-1 bg-secondary text-black px-6 py-3 rounded font-medium 
                 hover:bg-[#801e1d] hover:text-white transition duration-300"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div> -->

<app-snackbar/>