<div class="flex flex-col w-full px-1 md:px-14 pt-20 bg-primary justify-center items-center">
  <div class="flex flex-col w-full lg:w-1/2">
    <div class="w-full">
      <div class="bg-primary mb-3 w-3/4 slide-in-right justify-between">
        <span class="text-white text-3xl ml-3">Add a material:</span>
      </div>
    </div>
    <div class="bg-white p-8 rounded-xl shadow-lg w-full h-full slide-in-right">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-5">
        Material details
      </h1>
      <form #bookForm="ngForm">
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Book title -->
          <div class="relative w-1/2">
            <input
              id="title"
              name="title"
              type="text"
              class="w-full 
                     flex 
                     mt-1 
                     rounded-xl 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     text-lg
                     focus:ring-opacity-50
                     pr-10"
              placeholder="Title"
              [(ngModel)]="bookDetails.title"
              #titleInput="ngModel"
              (blur)="titleInput.control.markAsTouched()"
              [ngClass]="{'border-red-500 focus:border-red-500': titleInput.invalid && titleInput.touched}"
              required
            />
            
            <!-- Exclamation icon shown if input is invalid -->
            <span
              *ngIf="titleInput.invalid && titleInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
              <span class="tooltip">Title cannot be empty.</span>
            </span>
          </div>
        
          <!-- Category -->
          <div class="w-1/2 flex mt-1">
            <input id="category" name="category" type="hidden" [(ngModel)]="bookDetails.category" #categoryInput="ngModel" required />
            <div class="flex-1 relative">
              <div class="dropdown dropdown-bottom w-full">
                <div tabindex="0" role="button"
                     class="btn w-full 
                            bg-secondary 
                            border-none 
                            text-black 
                            text-lg 
                            hover:bg-[#ffb700] 
                            rounded-box 
                            flex items-center 
                            justify-between"
                     (click)="toggleDropdown()"
                     (blur)="categoryInput.control.markAsTouched()">
                  <span>{{ selectedCategory?.mat_type || 'Select material category' }}</span>
                  
                  <!-- Exclamation icon shown if category is invalid -->
                  <span
                    *ngIf="categoryInput.invalid && categoryInput.touched"
                    class="flex items-center"
                  >
                    <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4"/>
                    <span class="tooltip" id="category_tooltip">Please select a category.</span>
                  </span>
                </div>
                
                <ul tabindex="0" *ngIf="isDropdownOpen"
                    class="dropdown-content menu bg-secondary rounded-box z-[1] 
                    w-full text-base font-medium text-black 
                    max-h-60 overflow-y-auto overflow-x-hidden block">
                  <li *ngFor="let category of categories">
                    <a (click)="selectCategory(category.cat_id, category.mat_type)" 
                       class="block w-full px-4 py-2 hover:bg-[#801e1d] hover:text-white">
                      {{ category.mat_type }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Author -->
          <div class="relative w-1/2">
            <input
              id="author"
              name="author"
              type="text"
              class="w-full 
                     flex 
                     mt-1 
                     rounded-xl 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     text-lg
                     focus:ring-opacity-50
                     pr-10"
              placeholder="Author"
              [(ngModel)]="bookDetails.author" 
              #authorInput="ngModel"
              (blur)="authorInput.control.markAsTouched()"
              [ngClass]="{'border-red-500 focus:border-red-500': authorInput.invalid && authorInput.touched}"
              required 
              />
              <!-- Exclamation icon shown if input is invalid -->
              <span
                 *ngIf="authorInput.invalid && authorInput.touched"
                 class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                 (mouseenter)="showTooltip = true"
                 (mouseleave)="showTooltip = false"
              >
                 <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
                 <span class="tooltip">Author cannot be empty.</span>
              </span>
          </div>

          <!-- Subject Heading -->
          <div class="w-1/2 flex mt-1">
            <input id="heading" name="heading" type="hidden" 
                   [(ngModel)]="bookDetails.heading" 
                   #headingInput="ngModel" required />
            <div class="flex-1 relative">
              <div class="dropdown dropdown-bottom w-full">
                <div tabindex="0" role="button"
                     class="btn w-full 
                            bg-secondary 
                            border-none 
                            text-black 
                            text-lg 
                            hover:bg-[#ffb700] 
                            rounded-box 
                            flex items-center 
                            justify-between"
                     (click)="toggleSubjectDropdown()"
                     (blur)="headingInput.control.markAsTouched()">
                  <span>{{ selectedSubject?.subject_name || 'Select subject heading' }}</span>
              
                  <!-- Exclamation icon shown if subject heading is invalid -->
                  <span *ngIf="headingInput.invalid && headingInput.touched" class="flex items-center">
                    <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4"/>
                    <span class="tooltip" id="heading_tooltip">Please select a subject heading.</span>
                  </span>
                </div>
          
                <!-- Updated dropdown with vertical stacking and scrolling -->
                <ul tabindex="0" *ngIf="isSubjectDropdownOpen"
                    class="dropdown-content menu bg-secondary rounded-box z-[1] 
                           w-full text-base font-medium text-black 
                           max-h-56 overflow-y-auto overflow-x-hidden block">
                  <li *ngFor="let subject of subjects" class="w-full">
                    <a (click)="selectSubjectHeading(subject.id, subject.subject_name)" 
                       class="block w-full px-4 py-2 hover:bg-[#801e1d] hover:text-white">
                      {{ subject.subject_name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
                    
        </div>

        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Copyright -->
          <div class="relative w-1/2">
            <input
              id="copyright"
              name="copyright"
              type="text"
              class="w-full 
                     flex 
                     mt-1 
                     rounded-xl 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Copyright"
              [(ngModel)]="bookDetails.copyright" 
              #copyrightInput="ngModel"
              (blur)="copyrightInput.control.markAsTouched()"
              [ngClass]="{'border-red-500 focus:border-red-500': copyrightInput.invalid && copyrightInput.touched}"
              required 
            />
            
            <!-- Exclamation icon shown if input is invalid -->
            <span
              *ngIf="copyrightInput.invalid && copyrightInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
              <span class="tooltip">Copyright cannot be empty.</span>
            </span>
          </div>
        
          <!-- Call number -->
          <div class="relative w-1/2">
            <input
              id="callnum"
              name="callnum"
              type="text"
              class="w-full 
                     flex 
                     mt-1 
                     rounded-xl 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Call number"
              [(ngModel)]="bookDetails.callnum" 
              #callnumInput="ngModel"
              (blur)="callnumInput.control.markAsTouched()"
              [ngClass]="{'border-red-500 focus:border-red-500': callnumInput.invalid && callnumInput.touched}"
              required 
            />
            
            <!-- Exclamation icon shown if input is invalid -->
            <span
              *ngIf="callnumInput.invalid && callnumInput.touched"
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (mouseenter)="showTooltip = true"
              (mouseleave)="showTooltip = false"
            >
              <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
              <span class="tooltip">Call number cannot be empty.</span>
            </span>
          </div>
        </div>
        
        <div class="mb-4 mt-1 flex items-center space-x-4">
          <!-- Edition -->
          <div class="relative w-1/2">
          <input
            id="edition"
            name="edition"
            type="text"
            class="w-full
                   flex 
                   mt-1 
                   rounded-xl 
                   border 
                   border-gray-300 
                   px-3 
                   pl-6 
                   py-2 
                   focus:ring-opacity-50 
                   text-lg"
            placeholder="Edition"
            [(ngModel)]="bookDetails.edition"
            #editionInput="ngModel"
            (blur)="editionInput.control.markAsTouched()"
            [ngClass]="{'border-red-500 focus:border-red-500': 
                editionInput.invalid && editionInput.touched}"
            required 
          />
          
          <!-- Exclamation icon shown if input is invalid -->
          <span
            *ngIf="editionInput.invalid && editionInput.touched"
            class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
            (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false"
          >
            <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
            <span class="tooltip">Edition cannot be empty.</span>
          </span>
        </div>
          <!-- Publisher -->
          <div class="relative w-1/2">
          <input
            id="publisher"
            name="publisher"
            type="text"
            class="w-full
                   flex 
                   mt-1 
                   rounded-xl 
                   border 
                   border-gray-300 
                   px-3 
                   pl-6 
                   py-2 
                   focus:ring-opacity-50 
                   text-lg"
            placeholder="Publisher"
            [(ngModel)]="bookDetails.publisher"
            #publisherInput="ngModel"
            (blur)="publisherInput.control.markAsTouched()"
            [ngClass]="{'border-red-500 focus:border-red-500': 
                publisherInput.invalid && publisherInput.touched}"
            required 
          />
          
          <!-- Exclamation icon shown if input is invalid -->
          <span
            *ngIf="publisherInput.invalid && publisherInput.touched"
            class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
            (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false"
          >
            <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
            <span class="tooltip">Publisher cannot be empty.</span>
          </span>
        </div>

        </div>
        <div class="mb-4 mt-1 flex items-center space-x-2">
          <!-- ISBN -->
           <div class="relative w-1/2">
          <input
            id="isbn"
            name="isbn"
            type="text"
            class="w-full 
                   flex 
                   mt-1 
                   rounded-xl 
                   border 
                   border-gray-300 
                   px-3 
                   pl-6 
                   py-2 
                   focus:ring-opacity-50 
                   text-lg"
            placeholder="ISBN"
            [(ngModel)]="bookDetails.isbn"
            #isbnInput="ngModel"
            (blur)="isbnInput.control.markAsTouched()"
            [ngClass]="{'border-red-500 focus:border-red-500': 
                isbnInput.invalid && isbnInput.touched}"
            required 
          />
          
          <!-- Exclamation icon shown if input is invalid -->
          <span
            *ngIf="isbnInput.invalid && isbnInput.touched"
            class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
            (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false"
          >
            <img src="../../../assets/Exclamation_flat_icon.svg.png" alt="Exclamation Mark" class="h-4 w-4 mt-1"/>
            <span class="tooltip">ISBN cannot be empty.</span>
          </span>
        </div>
          <!-- Back button -->
          <button
            type="button"
            class="w-1/4
                   bg-primary 
                   text-white 
                   px-4 
                   py-3 
                   rounded-xl 
                   font-medium 
                   hover:bg-[#ffb700] 
                   hover:text-black 
                   transition 
                   duration-300 
                   mt-0.5"
            (click)="goBack()">
            Back
          </button>
          <!-- Continue button -->
          <button
            type="button"
            (click)="openConfirmModal()"
            class="w-1/4 
                   bg-secondary 
                   text-black 
                   px-4 
                   py-3 
                   rounded-xl 
                   font-medium 
                   hover:bg-[#801e1d] 
                   hover:text-white 
                   transition 
                   duration-300 
                   mt-0.5">
            Continue
          </button>
        </div>
      </form>
      @if (continueButtonClicked && bookForm.invalid) {
        <div class="bttm_err_msg">There are missing details on the form.</div> 
      }
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-white p-8 rounded-xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-xl font-medium text-primary mb-3">
      Do you really want to add this material?
    </h2>
    <div class="flex flex-col items-center justify-between h-full">
      <img src="../../../assets/return.jpg" alt="success" class="w-4/5 h-auto mb-4" />
      <div class="flex flex-row gap-4 w-full">
        <button
          (click)="closeConfirmModal()"
          class="flex-1
                 bg-primary 
                 text-white 
                 px-6 
                 py-3 
                 rounded-xl 
                 font-medium 
                 hover:bg-[#ffb700] 
                 hover:text-black 
                 transition 
                 duration-300">
          Back
        </button>
        <button
        (click)="saveBook()"
        [disabled]="isSubmitting"
          class="flex-1
                 bg-secondary 
                 text-black 
                 px-6 
                 py-3 
                 rounded-xl 
                 font-medium 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 transition 
                 duration-300"
                 [ngClass]="{ 'opacity-50 cursor-not-allowed': isSubmitting }">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
