<app-time/>

<div class="flex items-start justify-center pt-[3.5rem] bg-primary">
  <div class="bg-white p-6 rounded-xl shadow-lg w-1/2 h-full slide-in-right">
    <div class="flex items-end justify-between">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-3">
        Fill up fields to register*
      </h1>
      <div class="relative">
        <select
          id="role"
          name="role"
          [(ngModel)]="selectedRole"
          class="appearance-none w-full bg-secondary text-gray-700 
                 font-medium py-3 px-4 pr-8 rounded-xl leading-tight 
                 focus:outline-none focus:bg-[#ffb700] cursor-pointer text-lg">
          <option value="" disabled selected>Role</option>
          <option value="student">Student</option>
          <option value="faculty">Faculty</option>
          <option value="visitor">Visitor</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 top-0.5 right-2 
                    flex items-center text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
               viewBox="0 0 24 24" 
               stroke-width="1.5" stroke="currentColor" class="size-5">
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              d="m19.5 8.25-7.5 7.5-7.5-7.5" 
            />
          </svg>
        </div>
      </div>
    </div>

    <form (submit)="openRequestModal()">
      <div class="mb-4 mt-4 flex items-center space-x-4">
        <ng-container *ngIf="selectedRole === 'student'">
          <input
            id="studentNumber"
            name="studentNumber"
            type="text"
            [(ngModel)]="studentNumber"
            placeholder="Enter your PUP ID number here"
            class="flex-grow mt-1 block rounded-xl border border-gray-300 
                   px-6 py-2 focus:ring-opacity-50 text-lg" />
        </ng-container>
        <ng-container *ngIf="selectedRole === 'faculty'">
          <input
            id="employeeNumber"
            name="employeeNumber" 
            type="text" 
            [(ngModel)]="empNumber" 
            placeholder="Enter your Faculty code here"
            class="flex-grow mt-1 block rounded-xl border border-gray-300 
                   px-6 py-2 focus:ring-opacity-50 text-lg" />
        </ng-container>
        <ng-container *ngIf="selectedRole === 'visitor'">
          <input
            id="school" 
            name="school" 
            type="text" 
            [(ngModel)]="school" 
            placeholder="School"
            class="flex-grow mt-1 block rounded-xl border border-gray-300 
                   px-6 py-2 focus:ring-opacity-50 text-lg" />
        </ng-container>
        <div class="relative mr-44">
          <select
            id="sex" 
            name="sex" 
            [(ngModel)]="sex" 
            class="block appearance-none w-full bg-white text-gray-700 border border-gray-300 
                   font-medium py-3 px-6 pr-8 rounded-xl leading-tight 
                   focus:outline-none focus:bg-white cursor-pointer text-lg mt-1">
            <option value="" disabled selected>Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
          <div 
            class="pointer-events-none absolute inset-y-0 top-1.5 right-2 
                   flex items-center text-gray-700">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="1.5" 
              stroke="currentColor" 
              class="size-5">
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="m19.5 8.25-7.5 7.5-7.5-7.5" 
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-1 flex items-center space-x-2">
        <input 
          id="fname" 
          name="fname" 
          type="text" 
          [(ngModel)]="firstName" 
          class="flex-grow flex mt-1 rounded-xl border border-gray-300 
                 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg" 
          placeholder="First name" 
        />
        <input 
          id="lname" 
          name="lname" 
          type="text" 
          [(ngModel)]="lastName" 
          class="flex-grow flex mt-1 rounded-xl border border-gray-300
                 px-3 pl-6 py-2 focus:ring-opacity-50 text-lg" 
          placeholder="Last name" 
        />

        <input 
        id="contact" 
        name="contact" 
        type="text" 
        [(ngModel)]="contact" 
        class="flex-grow mt-1 block rounded-xl border border-gray-300 
               px-6 py-2 focus:ring-opacity-50 text-lg" 
        placeholder="Contact number" 
      />

        <div class="relative mr-44">
          <ng-container *ngIf="selectedRole === 'student'">
            <select 
              id="course"
              name="course" 
              [(ngModel)]="courseId" 
              class="block appearance-none w-auto bg-white border border-gray-300 text-gray-700 
                     font-medium py-3 px-6 pr-8 rounded-xl leading-tight 
                     focus:outline-none focus:bg-white cursor-pointer text-lg mt-1">
              <option value="" disabled selected>Course</option>
              <option *ngFor="let course of courses" [value]="course.id">
                {{ course.course_abbreviation }}
              </option>
            </select>
            <div 
            class="pointer-events-none absolute inset-y-0 top-1.5 right-2 
                   flex items-center text-gray-700">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="1.5" 
              stroke="currentColor" 
              class="size-5">
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="m19.5 8.25-7.5 7.5-7.5-7.5" 
              />
            </svg>
          </div>
          </ng-container>
          <ng-container *ngIf="selectedRole === 'faculty'">
            <select 
              id="dept" 
              name="dept" 
              [(ngModel)]="department" 
              class="block appearance-none w-auto bg-white border border-gray-300 text-gray-700 
                     font-medium py-3 px-6 pr-8 rounded-xl leading-tight 
                     focus:outline-none focus:bg-[#ffb700] cursor-pointer text-lg mt-1">
              <option value="" disabled selected>Department</option>
              <option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.dept_abbreviation }}
              </option>
            </select>
            <div 
            class="pointer-events-none absolute inset-y-0 top-1.5 right-2 
                   flex items-center text-gray-700">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="1.5" 
              stroke="currentColor" 
              class="size-5">
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="m19.5 8.25-7.5 7.5-7.5-7.5" 
              />
            </svg>
          </div>
          </ng-container>
          <ng-container *ngIf="selectedRole === 'visitor'">
            <input 
              id="identifier" 
              name="identifier" 
              type="text" 
              [(ngModel)]="identifier" 
              class="w-32 mt-1 block rounded-xl border border-gray-300 
                     px-6 py-2 focus:ring-opacity-50 text-lg" 
              placeholder="Identifier"/>
          </ng-container>        
        </div>
      </div>

      <div class="mb-4 flex items-center space-x-4">
        <input 
          id="email"
          name="email" 
          type="text" 
          class="flex-grow mt-1 block rounded-xl border border-gray-300 
                 px-6 py-2 focus:ring-opacity-50 text-lg" 
          placeholder="Email" 
        />
        <button 
          type="submit" 
          class="w-40 bg-primary text-white px-4 py-3 rounded-xl font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300 mt-0.5"
          >
          Register
        </button>
      </div>

      <ng-container *ngIf="selectedRole === 'visitor'">
        <div>
          <span class="text-red-500 font-medium">Please read carefully*</span>
          <p class="text-primary">
            Take note of your identifier. It could be your favorite color, food,
            pet name or anything. You'll need it to log in and out of the
            Library Information System. Thank you!
          </p>
        </div>
      </ng-container>

      <div *ngIf="hasFormErrors" class="text-red-500 text-center mt-2">
        Please fill out all the required fields.
      </div>

      <div *ngIf="!hasFormErrors && 
                  (!isStudentNumberValid || 
                  !isEmpNumberValid || 
                  isUserExists || 
                  !isContactValid || 
                  isContactExists)" 
            class="flex flex-col items-center justify-center mt-2 
                   space-y-2 text-center">
        <span *ngIf="!isStudentNumberValid" class="text-red-500">
          {{ studentNumberError }}
        </span>
        <span *ngIf="!isEmpNumberValid" class="text-red-500">
          {{ empNumberError }}
        </span>
        <span *ngIf="isUserExists" class="text-red-500">
          {{ userExistsError }}
        </span>
        <span *ngIf="!isContactValid" class="text-red-500">
          {{ contactError }}
        </span>
        <span *ngIf="isContactExists" class="text-red-500">
          {{ contactExistsError }}
        </span>
      </div>
    </form>
  </div>
</div>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
      <h3 class="text-xl font-bold text-primary text-center">
          Are you sure the details are correct?
      </h3>
      <p class="text-black text-sm text-center my-1">
        Note: Kindly double-check your information to ensure there are no errors.
      </p>
      @if (selectedRole === 'student') {
        <div class="flex justify-center items-center gap-2 flex-col mt-5">
          <div>
            <span class="text-primary font-semibold">Role: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Student number: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">First name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Last name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Gender: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Course: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Contact number: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Email: </span><span>sampletestagmail.com</span>
          </div>
        </div>
      } @else if (selectedRole === 'faculty') {
        <div class="flex justify-center items-center gap-2 flex-col mt-5">
          <div>
            <span class="text-primary font-semibold">Role: </span><span>Faculty</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Faculty code: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">First name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Last name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Gender: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Course: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Contact number: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Email: </span><span>sampletestagmail.com</span>
          </div>
        </div>
      } @else {
        <div class="flex justify-center items-center gap-2 flex-col mt-5">
          <div>
            <span class="text-primary font-semibold">Role: </span><span>Visitor</span>
          </div>
          <div>
            <span class="text-primary font-semibold">School: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">First name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Last name: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Gender: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Contact number: </span><span>sampletest</span>
          </div>
          <div>
            <span class="text-primary font-semibold">Email: </span><span>sampletestagmail.com</span>
          </div>
        </div>
      }

      <div class="modal-action justify-center items-center">
          <button 
              class="btn w-40 bg-primary text-white hover:bg-[#ffb700] hover:text-black" 
              (click)="closeRequestModal()">
              Close
          </button>
          <button 
              type="submit"
              class="btn w-40 bg-secondary text-black hover:bg-[#801e1d] hover:text-white">
              Submit
          </button>
      </div>
  </div>
</dialog>