<app-navbar/>

<div class="w-full flex flex-row">
    <div class="left w-1/4">
        <div
      class="flex 
             flex-col 
             items-center 
             justify-center 
             h-[90%]
             ml-10
             mt-10 
             bg-white 
             rounded-2xl
             shadow-xl
             slide-in-left">
    <img
        src="assets/stats.svg"
        alt="admin"
        class="size-52 slide-in-right cursor-pointer slide-in-right"/>
    
      <span class="text-3xl 
                   text-center 
                   text-primary 
                   font-semibold 
                   slide-in-below">Welcome Admin!
      </span>
      <div class="divider mt-0 mb-5 w-1/2 mx-auto"></div>
    
      <div class="flex flex-col space-y-6 slide-in-left">
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Materials
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Student
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Faculty
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Visitors
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          User
        </button>
    
      </div>
    </div>
    
    </div>
    
    <div class="right w-3/4">
        <app-books/>
         <!-- <app-student/> -->
          <!-- <app-faculty/> -->
           <!-- <app-visitor/> -->
    </div>
</div>



