<app-navbar/>

<div class="w-full flex flex-row">
    <div class="left w-1/4">
        <div
      class="flex 
             flex-col 
             items-center 
             justify-center 
             h-[90%]
             ml-10
             mt-10 
             bg-white 
             rounded-2xl
             shadow-xl
             slide-in-left">
    <img
        src="assets/stats.svg"
        alt="admin"
        class="size-52 slide-in-right cursor-pointer slide-in-right"/>
    
      <span class="text-3xl 
                   text-center 
                   text-primary 
                   font-semibold 
                   slide-in-below">Welcome Admin!
      </span>
      <div class="divider mt-0 mb-5 w-1/2 mx-auto"></div>
    
      <div class="flex flex-col space-y-6 slide-in-left">
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Materials
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Student
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Faculty
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          Visitors
        </button>
    
        <button

          routerLinkActive="active-btn"
          class="btn 
                 bg-secondary 
                 hover:bg-[#801e1d] 
                 hover:text-white 
                 text-lg 
                 rounded-full 
                 w-56 
                 h-14
                 border-none
                 text-black">
          User
        </button>
    
      </div>
    </div>
    
    </div>
    
    <div class="right w-3/4">
        <div class="flex flex-col h-[86vh] w-11/12 mx-auto">
            <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
                <div class="flex flex-row w-full">
                    <input type="text" placeholder="Search a book" class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white" />
                    <button class="btn rounded-r-full bg-white slide-in-right">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                          </svg>              
                    </button>
                </div>
                <div class="flex flex-row gap-2 slide-in-right">
                    <button
                    routerLink="/materials-add"
                    type="submit"
                    class="w-40 
                           bg-secondary 
                           text-black 
                           px-4 
                           py-3 
                           rounded-full 
                           font-medium 
                           hover:bg-blue-500 
                           hover:text-white 
                           transition 
                           duration-300 
                           mt-0.5">
                    Add book
                  </button>
                  <button
                  routerLink="/materials-type"
                  type="submit"
                  class="w-60 
                         bg-secondary 
                         text-black 
                         px-4 
                         py-3 
                         rounded-full 
                         font-medium 
                         hover:bg-blue-500 
                         hover:text-white 
                         transition 
                         duration-300 
                         mt-0.5">
                  Material type
                </button>
                </div>
            </div>
            <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
                <div class="overflow-x-auto">
                    <table class="table w-full">
                        <thead>
                            <tr class="text-primary text-center">
                                <th>Status</th>
                                <th>Acc No.</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Subject</th>
                                <th>Copyright</th>
                                <th>Call number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>sample testing</td>
                                <td>
                                    <button class="bg-secondary 
                                                 text-black 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium
                                                 mr-1">
                                        Edit
                                    </button>
                                    <button class="bg-primary 
                                                 text-white 
                                                 border-none 
                                                 shadow-none 
                                                 btn-sm 
                                                 rounded-full 
                                                 font-medium">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



