<div class="flex flex-col h-full w-full mx-auto px-10">
  <div class="flex flex-wrap flex-col md:flex-row w-full p-4 rounded-t-xl gap-2 mt-5">
    <div class="flex flex-row w-full mt-0.5">
      <input
        type="text"
        [placeholder]="searchPlaceholder"
        class="input input-bordered w-full rounded-full text-lg font-medium text-primary slide-in-left bg-white"/>
        <button
        type="button"
        (click)="clearLogType()"
        class="w-40 border bg-primary text-white px-4 py-3 rounded-full font-medium hover:bg-[#ffb700] hover:text-black transition duration-300 mb-1 ml-2 slide-in-right">
        clear
      </button>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 slide-in-right">
      <button
        type="button"
        (click)="setLogType('student_log')"
        [ngClass]="{
          'bg-[#801e1d] text-white': currentLogType === 'student_log',
          'bg-secondary text-black': currentLogType !== 'student_log'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-[#801e1d]  
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Student Log
      </button>
      <button
        type="button"
        (click)="setLogType('faculty_log')"
        [ngClass]="{
          'bg-[#801e1d] text-white': currentLogType === 'faculty_log',
          'bg-secondary text-black': currentLogType !== 'faculty_log'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-[#801e1d]  
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Faculty Log
      </button>
      <button
        type="button"
        (click)="setLogType('visitor_log')"
        [ngClass]="{
          'bg-[#801e1d] text-white': currentLogType === 'visitor_log',
          'bg-secondary text-black': currentLogType !== 'visitor_log'
        }"
        class="w-36 
          bg-secondary 
          text-black 
          px-4 
          py-3 
          rounded-full 
          font-medium 
          hover:bg-[#801e1d]  
          hover:text-white 
          transition 
          duration-300 
          mt-0.5"
      >
        Visitor Log
      </button>
      <div class="flex items-center">
        <span class="text-lg font-medium mx-3">Page {{ currentPage }} / {{ totalPages }}</span>
        <div class="flex gap-2">
            <button
                class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
                [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)"
            >
                Previous
            </button>
            <button
                class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
                [disabled]="currentPage === totalPages"
                (click)="onPageChange(currentPage + 1)"
            >
                Next
            </button>
        </div>
    </div>
    </div>
  </div>
  <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
    <div class="overflow-x-auto">
      <ng-container *ngIf="currentLogType === 'student_log'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Student Number</th>
              <th>Name</th>
              <th>Time In</th>
              <th>Time Out</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.student_number }}</td>
              <td>{{ log.name }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="currentLogType === 'faculty_log'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Faculty Code</th>
              <th>Name</th>
              <th>Time In</th>
              <th>Time Out</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.faculty_code }}</td>
              <td>{{ log.name }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="currentLogType === 'visitor_log'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Name</th>
              <th>School</th>
              <th>Time In</th>
              <th>Time Out</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.name }}</td>
              <td>{{ log.school }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="currentLogType === 'default'">
        <table class="table w-full">
          <thead>
            <tr class="text-primary text-center">
              <th>Student Number</th>
              <th>Name</th>
              <th>Time In</th>
              <th>Time Out</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let log of logs">
              <td>{{ log.student_number }}</td>
              <td>{{ log.name }}</td>
              <td>{{ log.time_in }}</td>
              <td>{{ log.time_out || 'await' }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <div class="flex justify-between items-center mt-4">
        <span class="text-lg font-medium ml-3">Page {{ currentPage }} / {{ totalPages }}</span>
        <div class="flex gap-2">
          <button
            class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
            [disabled]="currentPage === 1"
            (click)="onPageChange(currentPage - 1)"
          >
            Previous
          </button>
          <button
            class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
            [disabled]="currentPage === totalPages"
            (click)="onPageChange(currentPage + 1)"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>