<div class="flex flex-col h-[86vh] w-11/12 mx-auto">
    <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
      <div class="flex flex-row w-full">
        <input
          type="text"
          placeholder="Search"
          class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white"
        />
        <button class="btn rounded-r-full bg-white slide-in-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="black"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
        <button

        type="submit"
        class="w-40 
               bg-secondary 
               text-black 
               px-4 
               py-3
               ml-2 
               rounded-full 
               font-medium 
               hover:bg-blue-500 
               hover:text-white 
               transition 
               duration-300">
        Add a faculty
      </button>
      </div>
    </div>
    <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
      <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr class="text-primary text-center">
                <th>Faculty code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Contact number</th>
                <th>Department</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                  <td>1234567</td>
                  <td>Doe, Johnny</td>
                  <td>Male</td>
                  <td>09123456789</td>
                  <td>IT</td>
                  <td>
                    <button class="bg-secondary 
                                 text-black 
                                 border-none 
                                 shadow-none 
                                 btn-sm 
                                 rounded-full 
                                 font-medium
                                 mr-1">
                        Edit
                    </button>
                    <button class="bg-primary 
                                 text-white 
                                 border-none 
                                 shadow-none 
                                 btn-sm 
                                 rounded-full 
                                 font-medium">
                        Delete
                    </button>
                </td>
                </tr>
                <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
                  <tr>
                    <td>1234567</td>
                    <td>Doe, Johnny</td>
                    <td>Male</td>
                    <td>09123456789</td>
                    <td>IT</td>
                    <td>
                      <button class="bg-secondary 
                                   text-black 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium
                                   mr-1">
                          Edit
                      </button>
                      <button class="bg-primary 
                                   text-white 
                                   border-none 
                                   shadow-none 
                                   btn-sm 
                                   rounded-full 
                                   font-medium">
                          Delete
                      </button>
                  </td>
                  </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  