<app-time/>
<div class="flex items-start justify-center pt-[3.4rem] pb-[105px] bg-primary">
  <div class="bg-white p-6 pb-0 rounded-3xl shadow-lg w-full sm:w-[80%] lg:w-[38%] mx-5 h-full slide-in-right">
    <h2 class="text-start text-2xl font-medium text-primary mb-6">
      Enter your ID number
    </h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <input id="time-out" 
               [(ngModel)]="identifier" 
               name="identifier" 
               type="text" 
               class="w-full font-normal text-lg flex-grow mt-1 block rounded-full border 
                      border-gray-300 px-6 py-4 focus:ring-opacity-50" 
               placeholder="Please enter your ID number to log out" 
               required />
      </div>

      <div class="flex flex-col lg:flex-row lg:items-end justify-between">
        <button
          type="submit"
          class="w-full lg:w-40 bg-primary text-white px-4 py-3 rounded-full font-medium 
                 hover:bg-[#ffb700] hover:text-black transition duration-300 mb-5">
          Enter
        </button>
        <img src="../../../assets/bye2.png" alt="Bye" class="w-3/4 md:w-1/2 md:h-full h-40 lg:w-64 lg:h-40 mt-5 lg:mt-0" />
      </div>
    </form>
  </div>
</div>
