<!-- <app-time/> -->
<!-- <div class="flex flex-row items-center justify-evenly pb-[13px]">
    <app-most-borrowed/>
    <app-top-users/>
</div> -->

<div class="w-full flex flex-wrap flex-row">

  <div class="w-full md:w-1/2 bg-primary">
    <div class="flex flex-col">
      <app-time/>
      <app-top-ten-user-timein/>
    </div>

  </div>
  <div class="flex flex-row w-full md:w-1/2 justify-center flex-wrap bg-primary">
    <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
    routerLink="/materials-type">
        <div class="card-body">
          <h2 class="card-title text-black">Total Materials:</h2>
          <p class="font-bold text-4xl text-gray-950">
                {{ analyticsData.total_materials || 0 }}</p>
        </div>
      </div>
      <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
      routerLink="/materials-type">
          <div class="card-body">
            <h2 class="card-title text-black">Total Categories:</h2>
            <p class="font-bold text-4xl text-gray-950">
                  {{ analyticsData.total_categories || 0 }}</p>
          </div>
        </div>
        <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
        routerLink="/records">
            <div class="card-body">
              <h2 class="card-title text-black">Total Students:</h2>
              <p class="font-bold text-4xl text-gray-950">
                    {{ analyticsData.user_type_counts.student || 0 }}</p>
            </div>
          </div>
          <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
          routerLink="/records">
              <div class="card-body">
                <h2 class="card-title text-black">Total Faculty:</h2>
                <p class="font-bold text-4xl text-gray-950">
                    {{ analyticsData.user_type_counts.faculty || 0 }}</p>
              </div>
            </div>
            <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
            routerLink="/records">
                <div class="card-body">
                  <h2 class="card-title text-black">Total  Visitors:</h2>
                  <p class="font-bold text-4xl text-gray-950">
                    {{ analyticsData.user_type_counts.visitor || 0 }}</p>
                </div>
              </div>
              <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-not-allowed">
                <div class="card-body">
                  <h2 class="card-title text-black">Total Programs:</h2>
                  <p class="font-bold text-4xl text-gray-950">
                      {{ analyticsData.total_programs || 0 }}</p>
                  </div>
                </div>
                <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-not-allowed">
                  <div class="card-body">
                    <h2 class="card-title text-black">Total Departments:</h2>
                    <p class="font-bold text-4xl text-gray-950">
                        {{ analyticsData.total_departments || 0 }}</p>
                    </div>
                  </div>
                  <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
                  routerLink="/return">
                    <div class="card-body">
                      <h2 class="card-title text-black">Total Borrowers:</h2>
                      <p class="font-bold text-4xl text-gray-950">
                        {{ analyticsData.total_borrowers || 0 }}</p>
                      </div>
                    </div>
                    <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
                    routerLink="/return">
                      <div class="card-body">
                        <h2 class="card-title text-black">Charged materials:</h2>
                        <p class="font-bold text-4xl text-gray-950">
                          {{ analyticsData.total_charged }}</p>
                        </div>
                      </div>
                      <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
                    routerLink="/return">
                      <div class="card-body">
                        <h2 class="card-title text-black">Overdue materials:</h2>
                        <p class="font-bold text-4xl text-gray-950">
                          {{ analyticsData.total_overdue }}</p>
                        </div>
                      </div>
                      <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
                      routerLink="/user-record">
                        <div class="card-body">
                          <h2 class="card-title text-black">Time-ins today:</h2>
                          <p class="font-bold text-4xl text-gray-950">
                            {{ analyticsData.total_time_ins || 0 }}</p>
                          </div>
                        </div>
                        <div class="card bg-base-100 w-60 h-36 shadow-xl m-5 slide-in-top cursor-pointer"
                        routerLink="/user-record">
                          <div class="card-body">
                            <h2 class="card-title text-black">Time-outs today:</h2>
                            <p class="font-bold text-4xl text-gray-950">
                              {{ analyticsData.total_time_outs || 0 }}</p>
                            </div>
                          </div>
</div>
</div>

<!-- Top Section (not scrollable) -->
<div class="grid grid-cols-2 gap-1 bg-primary pb-[13px]">
  <app-monthly-category-donut></app-monthly-category-donut>
  <app-monthly-users></app-monthly-users>
  <app-courses-timed-in></app-courses-timed-in>
  <app-most-borrowed></app-most-borrowed>
</div>

<!-- Scrollable Bottom Section with Container, Consistent Border/Background Color, and Box Shadow -->
<div class="relative bg-primary p-4 pt-10">
  <p class="text-center text-black"></p>
  
  <!-- Toggle Button for Scrolling -->
  <button (click)="toggleScroll()" 
          class="absolute top -right-4 transform -translate-y-1/2 
                 text-primary p-3 rounded-full shadow-lg text-2xl mr-5"
          [style.backgroundColor]="'#099ad9'"
          [ngClass]="{'hover:bg-blue-600': scrollDirection === 'right'}">
    {{ scrollDirection === 'right' ? '➡️' : '⬅️' }}
  </button>

  <!-- Scrollable Content -->
  <div #scrollContainer (scroll)="onScroll()" class="flex overflow-x-auto pb-[13px] gap-4 text-white">
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2">
      <app-feedback-question-1></app-feedback-question-1>
      <app-feedback-question-2></app-feedback-question-2>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-3></app-feedback-question-3>
      <app-feedback-question-4></app-feedback-question-4>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-5></app-feedback-question-5>
      <app-feedback-question-6></app-feedback-question-6>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-7></app-feedback-question-7>
      <app-feedback-question-8></app-feedback-question-8>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-9></app-feedback-question-9>
      <app-feedback-question-10></app-feedback-question-10>
    </div>
  </div>
</div>





