<div class="w-full flex flex-wrap flex-row">
  <!-- Left Section -->
  <div class="w-full md:w-1/2 bg-primary">
    <div class="flex flex-col">
      <app-time></app-time>
      <app-top-ten-user-timein></app-top-ten-user-timein>
    </div>
  </div>

  <!-- Right Section: Analytics Cards -->
  <div class="flex flex-row w-full md:w-1/2 justify-center flex-wrap bg-primary">
    <!-- Materials Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_materials')
      }"
      routerLink="/materials">
      <div class="card-body">
        <h2 class="card-title text-black">Materials:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_materials || 0 }}
        </p>
      </div>
    </div>

    <!-- Material Type Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_categories')
      }"
      routerLink="/materials-type">
      <div class="card-body">
        <h2 class="card-title text-black">Material Type:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_categories || 0 }}
        </p>
      </div>
    </div>

    <!-- Students Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('user_type_counts.student')
      }"
     [routerLink]="['/records', 'student']">
      <div class="card-body">
        <h2 class="card-title text-black">Student:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.user_type_counts.student || 0 }}
        </p>
      </div>
    </div>


    <!-- Faculty Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('user_type_counts.faculty')
      }"
      [routerLink]="['/records', 'faculty']">
      <div class="card-body">
        <h2 class="card-title text-black">Faculty:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.user_type_counts.faculty || 0 }}
        </p>
      </div>
    </div>

    <div class="card rounded bg-white w-60 h-36 shadow-xl m-5 slide-in-top 
                cursor-pointer"
         [routerLink]="['/records', 'pupt-employee']">
      <div class="card-body">
        <h2 class="card-title text-black">Employee:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{totalEmployee || 0 }}
        </p>
      </div>
    </div>
    

    <!-- Visitors Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('user_type_counts.visitor')
      }"
      [routerLink]="['/records', 'visitor']">
      <div class="card-body">
        <h2 class="card-title text-black">Visitors:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.user_type_counts.visitor || 0 }}
        </p>
      </div>
    </div>

    <!-- Programs Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_programs')
      }"
      [routerLink]="['/courses']" 
      [queryParams]="{ from: 'student' }">
      <div class="card-body">
        <h2 class="card-title text-black">Programs:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_programs || 0 }}
        </p>
      </div>
    </div>

    <!-- Departments Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_departments')
      }"
      [routerLink]="['/departments']" 
      [queryParams]="{ from: 'faculty' }">
      <div class="card-body">
        <h2 class="card-title text-black">Departments:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_departments || 0 }}
        </p>
      </div>
    </div>
    <div class="card rounded bg-white w-60 h-36 shadow-xl m-5 slide-in-top 
                cursor-pointer"
         [routerLink]="['/return', 'charged materials']">
      <div class="card-body">
        <h2 class="card-title text-black">Charged Materials:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_charged || 0 }}
        </p>
      </div>
    </div>

    <!-- Overdue Materials Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5 cursor-pointer"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_overdue')
      }"
      [routerLink]="['/return', 'overdue materials']">
      <div class="card-body">
        <h2 class="card-title text-black">Overdue Materials:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_overdue || 0 }}
        </p>
      </div>
    </div>

    <!-- Daily Time-ins Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_time_ins')
      }">
      <div class="card-body">
        <h2 class="card-title text-black">Daily Time-ins:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_time_ins || 0 }}
        </p>
      </div>
    </div>

    <!-- Daily Time-outs Card -->
    <div 
      class="card rounded bg-white w-60 h-36 shadow-xl m-5"
      [ngClass]="{
        'slide-in-top': isInitialLoad,
        'flip-animation': isCardUpdated('total_time_outs')
      }">
      <div class="card-body">
        <h2 class="card-title text-black">Daily Time-outs:</h2>
        <p class="font-bold text-4xl text-gray-950">
          {{ analyticsData.total_time_outs || 0 }}
        </p>
      </div>
    </div>
  </div>
</div>



<div class="grid grid-cols-2 gap-1 bg-primary pb-[13px]">
  <app-monthly-category-donut></app-monthly-category-donut>
  <app-monthly-users></app-monthly-users>
  <app-courses-timed-in></app-courses-timed-in>
  <app-most-borrowed></app-most-borrowed>
</div>

<div class="relative bg-primary p-4 pt-10">
  <p class="text-center text-black"></p>
  <button 
    (click)="toggleScroll()" 
    class="absolute top -right-4 transform -translate-y-1/2 text-primary p-3 
           rounded-full shadow-lg text-2xl mr-5"
    [style.backgroundColor]="'#099ad9'"
    [ngClass]="{'hover:bg-blue-600': scrollDirection === 'right'}"
  >
    {{ scrollDirection === 'right' ? '➡️' : '⬅️' }}
  </button>

  <div #scrollContainer (scroll)="onScroll()" 
       class="flex overflow-x-auto pb-[13px] gap-4 text-white">
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2">
      <app-feedback-question-1></app-feedback-question-1>
      <app-feedback-question-2></app-feedback-question-2>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-3></app-feedback-question-3>
      <app-feedback-question-4></app-feedback-question-4>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-5></app-feedback-question-5>
      <app-feedback-question-6></app-feedback-question-6>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-7></app-feedback-question-7>
      <app-feedback-question-8></app-feedback-question-8>
    </div>
    <div class="grid grid-cols-2 gap-1 min-w-full bg-primary p-2 rounded-md">
      <app-feedback-question-9></app-feedback-question-9>
      <app-feedback-question-10></app-feedback-question-10>
    </div>
  </div>
</div>