<div class="flex items-center justify-center py-60 pb-[255px] bg-primary">
  <div class="bg-white py-8 pb-0 rounded-3xl shadow-lg w-[90%] md:w-[60%] lg:w-[40%] h-auto slide-in-below">
    <div class="flex flex-col md:flex-row items-center justify-around">
      <div class="text-center">
        <h2 class="text-2xl md:text-3xl font-medium text-primary mb-3">
          No record found!
        </h2>
        <p class="text-xl md:text-3xl font-medium text-primary mb-3">
          Time-in First!
        </p>
        <form>
          <div class="flex flex-col items-center justify-center gap-2 mt-6 md:mt-14">
            <button
              type="submit"
              class="w-full md:w-72 bg-primary text-white px-4 py-3 rounded-full font-medium hover:bg-[#ffb700] hover:text-black transition duration-300"
              routerLink="/time-out">
              Back
            </button>

            <button
              type="submit"
              class="w-full md:w-72 bg-secondary text-black px-4 py-3 rounded-full font-medium hover:bg-[#801e1d] hover:text-white transition duration-300 mb-5"
              routerLink="/time-in">
              Time-in here!
            </button>
          </div>
        </form>
      </div>
      <div class="mt-6 md:mt-0">
        <img src="../../../assets/not-found1.png" alt="no record" class="w-40 h-40 md:w-72 md:h-72" />
      </div>
    </div>
  </div>
</div>
