<div class="flex flex-col w-full px-2 sm:px-7 md:px-16 bg-primary mx-auto justify-start">
  <div class="flex w-full p-4 rounded-t-xl gap-2">
    <div class="flex flex-row flex-wrap w-full mt-1 justify-between gap-1">
      <div class="flex flex-row w-full md:w-1/2 gap-2">
        <input type="text"
        placeholder="Search here (name, course/department, title, author)"
        class="input input-bordered w-full rounded-xl text-lg font-medium text-primary slide-in-left bg-white"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch()"/>
        <button
        type="button"
        class="h-[3rem] bg-white text-primary rounded-xl px-4 font-medium 
               hover:bg-[#ffb700] hover:text-black transition duration-300 slide-in-right"
        (click)="clearSearch()"
      >
        Clear
      </button>
      </div>

      <div class="flex flex-row flex-wrap">
        <div class="flex flex-row gap-2 slide-in-right mt-1">
          <div class="dropdown dropdown-bottom slide-in-right">
            <div
              tabindex="0"
              role="button"
              class="btn w-auto mb-1 mx-2 bg-secondary border-none text-black text-lg hover:bg-[#ffb700]">
              {{this.selectedRemark || 'Remark'}}
            </div>
            <ul
              tabindex="0"
              class="dropdown-content menu bg-secondary rounded-box z-[1] w-52 p-2 shadow text-lg font-medium text-black">
              <li><a (click)="onRemarkSelected('In Progress')">In Progress</a></li>
              <li><a (click)="onRemarkSelected('Returned')">Returned</a></li>
              <li><a (click)="onRemarkSelected('Returned Late')">Returned Late</a></li>
              <li><a (click)="onRemarkSelected('Processing')">Processing</a></li>
              <li><a (click)="onRemarkSelected('Overdue')">Overdue</a></li>
              <li><a (click)="onRemarkSelected('')">All</a></li> <!-- For showing all items -->
            </ul>
          </div>
        </div>
      

        <div class="flex items-center gap-5 slide-in-right">
          <span class="text-lg font-medium ml-3 text-white">Page {{ currentPage }} / {{ totalPages }}</span>
          <div class="flex gap-2">
              <button
                  class="btn border-none bg-secondary text-black hover:bg-primary-focus hover:bg-white hover:text-[#801e1d]"
                  (click)="previousPage()"
                  [disabled]="currentPage === 1"
              >
                  Previous
              </button>
              <button
                  class="btn border-none bg-secondary text-black hover:bg-primary-focus hover:bg-white hover:text-[#801e1d]"
                  (click)="nextPage()"
                  [disabled]="currentPage === totalPages"
              >
                  Next
              </button>
          </div>
        </div>
      </div>


    </div>
  </div>

  @if (paginatedItems.length > 0) {
    <div class="p-4 bg-white text-black rounded-xl w-full overflow-x-auto slide-in-right mb-1">
      <div class="overflow-x-auto">
        <table class="table w-full text-xs md:text-sm">
          <thead>
            <tr class="text-primary text-sm">
              <th>Name</th>
              <th>Course/Department</th>
              <th>Title</th>
              <th>Author</th>
              <th>Date borrowed</th>
              <th>Due Date</th>
              <th>Remarks</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody class="text-start">
            @for (item of paginatedItems; track $index) {
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.courseYear }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.dateBorrowed | date: 'MM/dd/yyyy' }}</td>
                <td>{{ item.dueDate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ item.remarks }}</td>
                <td class="text-center">
                  @if (item.remarks === 'In Progress') {
                    <button
                      class="bg-secondary text-black border-none shadow-none btn-sm rounded-xl font-medium"
                      [routerLink]="['/return-warning', item.material_id]">
                      Return
                    </button>             
                  } @else if (item.remarks === 'Overdue') {
                    <button 
                      class="bg-primary text-white border-none shadow-none btn-sm rounded-xl font-medium"
                      (click)="generatePenaltyReceipt(item)">
                      Penalty
                    </button>
                  } @else if (item.remarks === 'Processing') {
                    <button 
                      class="bg-secondary text-black border-none shadow-none btn-sm rounded-xl font-medium"
                      [routerLink]="['/return-warning', item.material_id]">
                      Return
                    </button>
                  } @else if (item.remarks === 'Returned') {
                    <button 
                      class="bg-gray-400 text-white border-none shadow-none btn-sm rounded-xl font-medium" 
                      disabled>
                      Returned
                    </button>
                  } @else if (item.remarks === 'Returned Late') {
                    <button 
                      class="bg-gray-600 text-white border-none shadow-none btn-sm rounded-xl font-medium" 
                      disabled>
                      Returned
                    </button>
                  }
                </td>              
              </tr>
            }
          </tbody>        
        </table>
      </div>
    </div>
  } @else {
    <div class="flex justify-center items-center mt-20 slide-in-below">
      <div class="card bg-primary w-96">
          <figure class="px-10 pt-10">
            <img
              src="../../../assets/no-match1.svg"
              alt="no-match"/>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title text-white">Nothing match your search!</h2>
            <p class="text-white">Didn't find what you're looking for?</p>
          </div>
        </div>
    </div>
  }

</div>
