<div class="flex flex-col h-[86vh] w-11/12 mx-auto mt-14 justify-end">
  <div class="flex w-full p-4 rounded-t-xl gap-2 mt-5">
    <div class="flex flex-row w-full">
      <input 
        type="text" 
        placeholder="Search a book" 
        class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white" 
      />
      <button class="btn rounded-r-full bg-white slide-in-right">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5" 
          stroke="black" 
          class="size-6">
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" 
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="p-4 bg-white text-black rounded-xl w-full slide-in-right">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr class="text-primary text-center">
            <th>Name</th>
            <th>Course/Department</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date borrowed</th>
            <th>Due Date</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center">
          @for (item of items; track $index) {
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.courseYear }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.author }}</td>
              <td>{{ item.dateBorrowed | date: 'MM/dd/yyyy' }}</td>
              <td>{{ item.dueDate | date: 'MM/dd/yyyy' }}</td>
              <td>{{ item.remarks }}</td>
              <td>
                @if (item.remarks === 'In Progress') {
                  <button
                    class="bg-secondary text-black border-none shadow-none btn-sm rounded-full font-medium"
                    [routerLink]="['/return-warning', item.material_id]">
                    Return
                  </button>             
                } @else if (item.remarks === 'Overdue') {
                  <button 
                    class="bg-primary text-white border-none shadow-none btn-sm rounded-full font-medium"
                    (click)="generatePenaltyReceipt(item)">
                    Penalty
                  </button>
                } @else if (item.remarks === 'Processing') {
                  <button 
                    class="bg-secondary text-black border-none shadow-none btn-sm rounded-full font-medium"
                    [routerLink]="['/return-warning', item.material_id]">
                    Return
                  </button>
                } @else if (item.remarks === 'Returned') {
                  <button 
                    class="bg-gray-400 text-white border-none shadow-none btn-sm rounded-full font-medium" 
                    disabled>
                    Returned
                  </button>
                } @else if (item.remarks === 'Returned Late') {
                  <button 
                    class="bg-gray-600 text-white border-none shadow-none btn-sm rounded-full font-medium" 
                    disabled>
                    Returned Late
                  </button>
                }
              </td>              
            </tr>
          }
        </tbody>        
      </table>
    </div>
  </div>

  <!-- <iframe id="pdfIframe" style="display: none;"></iframe> -->
</div>
