<div class="flex items-center justify-center w-full min-h-screen">
    <div class="flex flex-col w-full gap-3">
        <button
        routerLink="/add-department"
        type="submit"
        class="w-52 
               bg-secondary 
               text-black 
               px-4 
               py-3 
               ml-40
               rounded-full 
               font-medium 
               hover:bg-blue-500 
               hover:text-white 
               transition 
               duration-300
               slide-in-top">
        Add a department
      </button>
        <div class="p-4 bg-white text-black rounded-3xl w-3/4 mb-12 slide-in-left ml-40 h-1/4">
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr class="text-primary text-center">
                            <th>Department</th>
                            <th>Abbreviation</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Business Administration</td>
                            <td>BA</td>
                            <td>
                                <button 
                                routerLink="/edit-department"
                                class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Electronics Engineering</td>
                            <td>ECE</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Bachelor of Education</td>
                            <td>ED</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mechanical Engineering</td>
                            <td>ME</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Information Technology</td>
                            <td>IT</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Office Administration</td>
                            <td>OA</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Psychology</td>
                            <td>PSYCH</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Information and Communications Technology</td>
                            <td>ICT</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Office Management Technology</td>
                            <td>OMT</td>
                            <td>
                                <button class="bg-secondary 
                                              text-black 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium
                                              mr-1">
                                    Edit
                                </button>
                                <button class="bg-primary 
                                              text-white 
                                              border-none 
                                              shadow-none 
                                              btn-sm 
                                              rounded-full 
                                              font-medium">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
