<div class="flex items-end justify-center min-h-screen">
    <div
      class="bg-white p-8 rounded-3xl shadow-lg w-1/2 h-full mb-40 slide-in-right">
      <div class="flex items-end justify-between">
        <h1 class="text-2xl text-primary font-semibold ml-2 mb-3">
          Book details
        </h1>
      </div>
      <form>
        <div class="mb-4 mt-1 flex items-center space-x-4">
        <!-- Book title -->
          <input
            id="title"
            name="title"
            type="text"
            class="w-1/2 
                   flex 
                   mt-1 
                   rounded-full 
                   border 
                   border-gray-300 
                   px-3 
                   pl-6 
                   py-2 
                   focus:ring-opacity-50 
                   text-lg"
            placeholder="Title"/>
        <!-- Book isbn -->
          <input
            id="isbn"
            name="isbn"
            type="text"
            class="w-1/2 
                   flex 
                   mt-1 
                   rounded-full 
                   border 
                   border-gray-300 
                   px-3 
                   pl-6 
                   py-2 
                   focus:ring-opacity-50 
                   text-lg"
            placeholder="ISBN"/>
        </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
        <!-- Book publisher -->
            <input
              id="publish"
              name="publish"
              type="text"
              class="w-1/2 
                     flex 
                     mt-1 
                     rounded-full 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Publisher"/>
        <!-- Book status -->
            <input
              id="status"
              name="status"
              type="text"
              class="w-1/2 
                     flex 
                     mt-1 
                     rounded-full 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Available"/>
          </div>
        <div class="mb-4 mt-1 flex items-center space-x-4">
        <!-- Student number -->
            <input
              id="idnum"
              name="idnum"
              type="text"
              class="w-1/2 
                     flex 
                     mt-1 
                     rounded-full 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Student/Faculty ID number"/>
        <!-- Accession number -->
            <input
              id="accnum"
              name="accnum"
              type="text"
              class="w-1/2 
                     flex 
                     mt-1 
                     rounded-full 
                     border 
                     border-gray-300 
                     px-3 
                     pl-6 
                     py-2 
                     focus:ring-opacity-50 
                     text-lg"
              placeholder="Accession number"/>
          </div>
        <div class="mb-4 flex items-center justify-center space-x-4">
            <!-- Back button -->
            <button
                type="submit"
                class="w-2/5 
                       bg-primary 
                       text-white 
                       px-4 
                       py-3 
                       rounded-full 
                       font-medium 
                       hover:bg-[#ffb700] 
                       hover:text-black 
                       transition 
                       duration-300 
                       mt-0.5"
                 routerLink="/borrow">
                Back
          </button>
          <!-- Continue button -->
          <button
            type="submit"
            class="w-2/5 
                   bg-secondary 
                   text-black 
                   px-4 
                   py-3 
                   rounded-full 
                   font-medium 
                   hover:bg-[#801e1d] 
                   hover:text-white 
                   transition 
                   duration-300 
                   mt-0.5"
             routerLink="/borrow-success">
            Continue
          </button>
        </div>
      </form>
    </div>
   </div>
     
   

   
