/* Base styles */
.clock {
    text-align: center;
    color: white;
    padding-top: 8px;
    font-size: 10rem;
}

.date {
    @apply text-center text-amber-400 font-normal pt-[-1.5rem];
    text-align: center;
    color: #ffb700;
    font-size: 60px;
    font-weight: normal;
    padding-top: -1.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .clock {
        font-size: 6rem; /* Smaller font size for tablets and small screens */
    }

    .date {
        font-size: 40px; /* Smaller font size for tablets and small screens */
    }
}

@media (max-width: 480px) {
    .clock {
        font-size: 4rem; /* Even smaller font size for mobile phones */
    }

    .date {
        font-size: 20px; /* Even smaller font size for mobile phones */
    }
}
