<div class="flex items-start justify-center pt-40 bg-primary">
  <div class="bg-white p-8 rounded-xl shadow-lg w-1/2 mb-20 h-full slide-in-right">
    <div class="flex items-end justify-between">
      <h1 class="text-2xl text-primary font-semibold ml-2 mb-3">
        Add a visitor
      </h1>
    </div>

    <form (submit)="onSubmit()">
      <div class="mb-4 mt-4 flex items-center space-x-4">
        <div class="relative flex-grow">
          <input
            id="school"
            name="school"
            type="text"
            [(ngModel)]="school"
            placeholder="School"
            class="mt-1 block w-full rounded-xl border border-gray-300 px-6 py-2 
                   focus:ring-opacity-50 text-lg"
            [ngClass]="{'border-red-500': !school && hasFormErrors}"
            (input)="onFieldInput('school')"/>
          @if (!school && hasFormErrors) {
            <span
              class="absolute right-2 top-1/2 transform -translate-y-1/2 
                     text-red-500 cursor-pointer group">
              <img
                src="../../../assets/Exclamation_flat_icon.svg.png"
                alt="Exclamation Mark"
                class="h-4 w-4 mt-1"
              />
              <span
                class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                      w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                      shadow-lg z-10 whitespace-nowrap group-hover:block hidden">
                School cannot be empty.
              </span>
            </span>
          }
        </div>
        <div class="relative mr-44">
          <select
            id="sex"
            name="sex"
            [(ngModel)]="sex"
            class="block appearance-none w-full bg-white text-gray-700 border 
                   border-gray-300 font-medium py-3 px-6 pr-8 rounded-xl 
                   leading-tight focus:outline-none focus:bg-white 
                   cursor-pointer text-lg mt-1"
            [ngClass]="{'border-red-500': !sex && hasFormErrors}"
            (input)="onFieldInput('sex')">
            <option value="" disabled selected>Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
          @if (!sex && hasFormErrors) {
            <span
              class="absolute right-2 top-1/2 transform -translate-y-1/2 
                     text-red-500 cursor-pointer group">
              <img
                src="../../../assets/Exclamation_flat_icon.svg.png"
                alt="Exclamation Mark"
                class="h-4 w-4 mt-1"
              />
              <span
                class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                      w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                      shadow-lg z-10 whitespace-nowrap group-hover:block hidden">
                Gender must be selected.
              </span>
            </span>
          }
          <div
            class="pointer-events-none absolute inset-y-0 top-1.5 right-2 flex 
                   items-center text-gray-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-1 flex items-center space-x-4">
        <div class="relative flex-grow">
          <input
            id="fname"
            name="fname"
            type="text"
            [(ngModel)]="firstName"
            class="mt-1 block w-full rounded-xl border border-gray-300 px-3 pl-6 
                   py-2 focus:ring-opacity-50 text-lg"
            placeholder="First name"
            [ngClass]="{'border-red-500': !firstName && hasFormErrors}"
            (input)="onFieldInput('firstName')"/>
          @if (!firstName && hasFormErrors) {
            <span
              class="absolute right-2 top-1/2 transform -translate-y-1/2 
                     text-red-500 cursor-pointer group">
              <img
                src="../../../assets/Exclamation_flat_icon.svg.png"
                alt="Exclamation Mark"
                class="h-4 w-4 mt-1"
              />
              <span
                class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                      w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                      shadow-lg z-10 whitespace-nowrap group-hover:block hidden">
                First name cannot be empty.
              </span>
            </span>
          }
        </div>
        <div class="relative flex-grow">
          <input
            id="lname"
            name="lname"
            type="text"
            [(ngModel)]="lastName"
            class="mt-1 block w-full rounded-xl border border-gray-300 px-3 pl-6 
                   py-2 focus:ring-opacity-50 text-lg"
            placeholder="Last name"
            [ngClass]="{'border-red-500': !lastName && hasFormErrors}"
            (input)="onFieldInput('lastName')"/>
          @if (!lastName && hasFormErrors) {
            <span
              class="absolute right-2 top-1/2 transform -translate-y-1/2 
                     text-red-500 cursor-pointer group">
              <img
                src="../../../assets/Exclamation_flat_icon.svg.png"
                alt="Exclamation Mark"
                class="h-4 w-4 mt-1"
              />
              <span
                class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                      w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                      shadow-lg z-10 whitespace-nowrapgroup-hover:block hidden">
                Last name cannot be empty.
              </span>
            </span>
          }
        </div>
        <div class="relative mr-44">
          <div class="relative flex-grow">
            <input
              id="identifier"
              name="identifier"
              type="text"
              [(ngModel)]="identifier"
              placeholder="Enter your identifier here"
              class="mt-1 block w-full rounded-xl border border-gray-300 px-6 py-2 
                     focus:ring-opacity-50 text-lg"
              [ngClass]="{'border-red-500': 
                (!identifier && hasFormErrors) || isUserExists}"
              (input)="onFieldInput('identifier')"/>
            @if ((!identifier && hasFormErrors) || isUserExists) {
              <span
                class="absolute right-2 top-1/2 transform -translate-y-1/2 
                      text-red-500 cursor-pointer group">
                <img
                  src="../../../assets/Exclamation_flat_icon.svg.png"
                  alt="Exclamation Mark"
                  class="h-4 w-4 mt-1"
                />
                <span
                  class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                        w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                        shadow-lg z-10 whitespace-nowrap group-hover:block hidden">
                  {{ !identifier && hasFormErrors ? 'Identifier cannot be empty.' 
                        : isUserExists ? userExistsError : '' }}
                </span>
              </span>
            }
          </div>
        </div>
      </div>
      <div class="mb-4 flex items-center space-x-4">
        <div class="relative flex-grow">
          <input
            id="contact"
            name="contact"
            type="text"
            [(ngModel)]="contact"
            class="mt-1 block w-full rounded-xl border border-gray-300 px-6 py-2 
                   focus:ring-opacity-50 text-lg"
            placeholder="Contact number"
            [ngClass]="{'border-red-500': 
            (!contact && hasFormErrors) || !isContactValid || isContactExists}"
            (input)="onFieldInput('contact')"/>
          @if ((!contact && hasFormErrors) || !isContactValid 
          || isContactExists) {
            <span
              class="absolute right-2 top-1/2 transform -translate-y-1/2 
                    text-red-500 cursor-pointer group">
              <img
                src="../../../assets/Exclamation_flat_icon.svg.png"
                alt="Exclamation Mark"
                class="h-4 w-4 mt-1"
              />
              <span
                class="absolute right-6 top-1/2 transform -translate-y-1/2 mr-1 
                      w-max bg-red-500 text-white text-xs rounded py-1 px-2 
                      shadow-lg z-10 whitespace-nowrap group-hover:block hidden">
                {{ !contact && hasFormErrors ? 'Contact number cannot be empty.' 
                      : !isContactValid ? contactError 
                      : isContactExists ? contactExistsError : '' }}
              </span>
            </span>
          }
        </div>
      </div>
      <div class="flex flex-row gap-4 w-full mt-4">
        <button
          type="button"
          class="flex-1 bg-primary text-white px-6 py-3 rounded-xl font-medium 
                 hover:bg-[#ffb700] hover:text-blacktransition duration-300"
          (click)="goBack()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="flex-1 bg-secondary text-black px-6 py-3 rounded-xl font-medium 
                 hover:bg-[#801e1d] hover:text-white transition duration-300"
        >
          Continue
        </button>
      </div>
      <div class="mt-5">
        <span class="text-red-500 font-medium">Please read carefully*</span>
        <p class="text-primary">
          Be sure to save or take note of your identifier. It could be your 
          favorite color, pet's name, or favorite food. You'll need it to log 
          in and out of the library information system. Thank you!
        </p>
      </div>
    </form>
  </div>
</div>

<dialog id="my_modal_1" class="modal">
  <div class="bg-white p-8 rounded-3xl shadow-lg w-1/2 max-w-md">
    <h2 class="text-center text-2xl font-medium text-primary mb-3">
      Are the details correct?
    </h2>
    <p class="text-red-500 text-sm text-center my-1">
      Note: Please review the details carefully
    </p>
    <div class="flex flex-col items-center justify-between h-full">
      <img 
        src="../../../assets/return.jpg" 
        alt="success" 
        class="w-4/5 h-auto mb-4" 
      />
      <div class="flex flex-col space-y-2">
        <div><strong>School:</strong> {{ school }}</div>
        <div><strong>First Name:</strong> {{ firstName }}</div>
        <div><strong>Last Name:</strong> {{ lastName }}</div>
        <div><strong>Gender:</strong> {{ sex }}</div>
        <div><strong>Phone Number:</strong> {{ contact }}</div>
        <div><strong>Identifier:</strong> {{ identifier }}</div>
      </div>
    </div>

    <div class="modal-action justify-center items-center">
      <button
        class="btn w-40 bg-primary text-white hover:bg-[#ffb700] 
               hover:text-black"
        (click)="closeConfirmationModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="btn w-40 bg-secondary text-black hover:bg-[#801e1d] 
               hover:text-white"
        (click)="submitForm()"
      >
        Submit
      </button>
    </div>
  </div>
</dialog>

<app-snackbar></app-snackbar>