<!-- <div class="flex flex-col h-full w-full pt-2 pb-[27px] px-2">
  <div class="flex w-full p-4 rounded-t-xl gap-2">
    <div class="flex flex-row w-full">
      <input
        type="text"
        placeholder="Search a book"
        class="input input-bordered w-full rounded-l-full text-lg font-medium text-primary slide-in-left bg-white"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
      <button class="btn rounded-r-full bg-white slide-in-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="black"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
      <button
        type="button"
        class="w-40 bg-white text-primary px-4 py-3 rounded-full font-medium hover:bg-[#ffb700] hover:text-black transition duration-300 mb-1 ml-2"
        (click)="clearSearch()"
      >
        Clear
      </button>
    </div>
    <div class="dropdown dropdown-end slide-in-right">
      <div
        tabindex="0"
        role="button"
        class="btn w-48 mb-1 mx-2 bg-secondary border-none text-black text-lg hover:bg-[#ffb700]"
      >
        {{ categoryPlaceholder }}
      </div>
      <ul
        tabindex="0"
        class="dropdown-content menu bg-secondary rounded-box z-[1] w-52 p-2 shadow text-lg font-medium text-black"
      >
        <li><a (click)="CategoryPlaceholder('Filipiñana')">Filipiñana</a></li>
        <li><a (click)="CategoryPlaceholder('Circulation')">Circulation</a></li>
        <li><a (click)="CategoryPlaceholder('Fiction')">Fiction</a></li>
        <li><a (click)="CategoryPlaceholder('Donations')">Donations</a></li>
      </ul>
    </div>
  </div>

  <div class="p-4 bg-white text-black rounded-xl w-full mb-4 slide-in-right">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr class="text-primary text-center text-sm">
            <th>Accession No.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Copyright</th>
            <th>Call number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="text-start text-sm">
          @for (material of materials; track $index) {
            <tr>
              <td>{{ material.accnum }}</td>
              <td>
                <a [routerLink]="['/borrow-info', material.accnum]" 
                   class="text-primary font-semibold hover:text-[#ffb700] 
                          hover:underline">
                  {{ material.title | slice:0:40 }}{{ material.title.length > 40 ? '...' : '' }}
                </a>
              </td>
              <td>{{ material.author | slice:0:50 }}{{ material.author.length > 50 ? '...' : '' }}</td>
              <td>{{ material.subj }}</td>
              <td>{{ material.copyright }}</td>
              <td>{{ material.callno | slice:0:11 }}{{ material.callno.length > 11 ? '...' : '' }}</td>
              <td>{{ material.status }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    
    <div class="flex justify-between items-center mt-4">
      <span class="text-lg font-medium ml-3"
        >Page {{ currentPage }} / {{ totalPages }}
      </span>
      <div class="flex gap-2">
        <button
        class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        Previous
      </button>
      <button
        class="btn bg-primary text-white hover:bg-primary-focus hover:bg-[#ffb700] hover:text-black"
        [disabled]="currentPage === totalPages"
        (click)="onPageChange(currentPage + 1)"
      >
        Next
      </button>
      </div>
    </div>
  </div>
</div> -->

<div class="flex flex-col h-full w-full pb-[27px] px-2 sm:px-7 md:px-16 bg-primary">
  <div class="flex flex-col md:flex-row w-full p-4 rounded-t-xl gap-2">
    <div class="flex flex-wrap w-full p-4 pb-3 rounded-t-xl gap-2">
      <div class="flex flex-row w-full">
          <input type="text" placeholder="Search here (title, author, year, accession number)" 
                 class="input input-bordered w-full rounded-l-full text-lg 
                        font-medium text-primary slide-in-left bg-white"
                 [(ngModel)]="searchTerm"
                 (input)="onSearch()" 
          />
          <button class="btn rounded-r-full bg-white slide-in-right">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>              
          </button>
          <button
              type="button"
              class="w-40 bg-white text-primary px-4 py-3 rounded-full font-medium hover:bg-[#ffb700] hover:text-black transition duration-300 mb-1 ml-2"
              (click)="clearSearch()">
              Clear
          </button>
      </div>
          <div class="flex flex-row gap-2 slide-in-right mt-1">
              <div class="dropdown dropdown-bottom slide-in-right">
                  <div
                      tabindex="0"
                      role="button"
                      class="btn w-auto mb-1 mx-2 bg-secondary border-none text-black text-lg hover:bg-[#ffb700]"
                  >
                      {{ categoryPlaceholder }}
                  </div>
                  <ul
                      tabindex="0"
                      class="dropdown-content menu bg-secondary rounded-box z-[1] w-52 p-2 shadow text-lg font-medium text-black"
                  >
                  <li><a (click)="CategoryPlaceholder('Filipiñana')">Filipiñana</a></li>
                  <li><a (click)="CategoryPlaceholder('Circulation')">Circulation</a></li>
                  <li><a (click)="CategoryPlaceholder('Fiction')">Fiction</a></li>
                  <li><a (click)="CategoryPlaceholder('Donations')">Donations</a></li>
                  </ul>
              </div>
          </div>
              <div class="flex justify-between items-center gap-5 slide-in-right">
                  <span class="text-lg font-medium ml-3 text-white">Page {{ currentPage }} / {{ totalPages }}</span>
                  <div class="flex gap-2">
                      <button
                          class="btn border-none bg-secondary text-black hover:bg-primary-focus hover:bg-white hover:text-[#801e1d]"
                          [disabled]="currentPage === 1"
                          (click)="onPageChange(currentPage - 1)"
                      >
                          Previous
                      </button>
                      <button
                          class="btn border-none bg-secondary text-black hover:bg-primary-focus hover:bg-white hover:text-[#801e1d]"
                          [disabled]="currentPage === totalPages"
                          (click)="onPageChange(currentPage + 1)"
                      >
                          Next
                      </button>
                  </div>
              </div>
  </div>
  </div>
  <div class="p-4 bg-white text-black rounded-xl w-full overflow-x-auto slide-in-right">
    <table class="table w-full text-xs md:text-sm">
      <thead>
        <tr class="text-primary text-center">
          <th>Accession No.</th>
          <th>Title</th>
          <th>Author</th>
          <th>Subject</th>
          <th>Copyright</th>
          <th>Call number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="text-start text-sm">
        @for (material of materials; track $index) {
          <tr>
            <td>{{ material.accnum }}</td>
            <td>
              <a [routerLink]="['/borrow-info', material.accnum]" 
                 class="text-primary font-semibold hover:text-[#ffb700] 
                        hover:underline">
                {{ material.title | slice:0:40 }}{{ material.title.length > 40 ? '...' : '' }}
              </a>
            </td>
            <td>{{ material.author | slice:0:50 }}{{ material.author.length > 50 ? '...' : '' }}</td>
            <td>{{ material.subj }}</td>
            <td>{{ material.copyright }}</td>
            <td>{{ material.callno | slice:0:11 }}{{ material.callno.length > 11 ? '...' : '' }}</td>
            <td>{{ material.status }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
